In [1]:
import pandas as pd
import numpy as np

<b>For geopipe_STATE processed outside of ppp_geo

In [2]:
ak_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ak.csv") 
al_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_al.csv")
ar_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ar.csv") 
as_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_as.csv")
az_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_az.csv")

ca_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ca.csv")
co_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_co.csv") 
ct_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ct.csv")  
dc_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_dc.csv")
de_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_de.csv") 

fl_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_fl.csv") # 07/13
ga_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ga.csv")
gu_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_gu.csv")
hi_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_hi.csv") 
ia_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ia.csv")

id_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_id.csv")   
il_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_il.csv")
in_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_in.csv") 
ks_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ks.csv")
ky_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ky.csv")

la_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_la.csv")
ma_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ma.csv") 
md_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_md.csv")
me_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_me.csv")
mi_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_mi.csv") 

mn_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_mn.csv") 
mo_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_mo.csv")
mp_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_mp.csv") 
ms_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ms.csv")
mt_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_mt.csv")

nc_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nc.csv")
nd_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nd.csv")
ne_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ne.csv")
nh_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nh.csv")  
nj_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nj.csv")

nm_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nm.csv") 
nv_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_nv.csv")  
ny_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ny.csv")  
oh_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_oh.csv")
ok_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ok.csv")

or_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_or.csv") 
pa_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_pa.csv")
pr_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_pr.csv")  
ri_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ri.csv")
sc_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_sc.csv")

sd_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_sd.csv") 
tn_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_tn.csv")  
tx_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_tx.csv")  
ut_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_ut.csv")  
va_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_va.csv") 

vi_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_vi.csv")  
vt_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_vt.csv")
wa_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_wa.csv")
wi_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_wi.csv")  
wv_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_wv.csv") 

wy_df= pd.read_csv("../../data/state_data/geo/geocoded/geo_wy.csv")  

frames = [ak_df, al_df, ar_df, as_df, az_df,
ca_df, co_df, ct_df, dc_df, de_df,
fl_df, ga_df, gu_df, hi_df, ia_df,
id_df, il_df, in_df, ks_df, ky_df,
la_df, ma_df, md_df, me_df, mi_df,
mn_df, mo_df, mp_df, ms_df, mt_df,
nc_df, nd_df, ne_df, nh_df, nj_df,
nm_df, nv_df, ny_df, oh_df, ok_df,
or_df, pa_df, pr_df, ri_df, sc_df, 
sd_df, tn_df, tx_df, ut_df, va_df, 
vi_df, vt_df, wa_df, wi_df, wv_df, wy_df]
geo_states=pd.concat(frames,ignore_index=True)
geo_states

,Unnamed: 0,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN
...,...,...,...,...,...,...,...
968552,968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,NaN
968553,968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,NaN
968554,968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,NaN
968555,968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,NaN
968556,968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,NaN

In [3]:
geo_states = geo_states.drop(["Unnamed: 0"], axis=1)
geo_states

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN
...,...,...,...,...,...,...
968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,NaN
968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,NaN
968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,NaN
968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,NaN
968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,NaN

In [4]:
cols = ["LoanNumber", "BorrowerState", "full_add", "Lat", "Long", "FIPS_z"]
geo_states_reduced = geo_states[cols]
geo_states_reduced.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN

In [5]:
pd.set_option('display.max_rows', 70)
print(geo_states_reduced.isnull().sum())

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

<b>Check Columns<br></b>
Names, Types, #

In [7]:
geo_states_reduced.to_csv("../../data/state_data/geo/geostates_combined.csv")

Update ppp_geo

In [8]:
geo_states_reduced.to_csv("../../data/state_data/geo/ppp_geo.csv")

Parsing GeoStates DataFrame for reduced State Geo Files

In [9]:
ak_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "AK", :]
al_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "AL", :]
ar_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "AR", :]
as_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "AS", :] #American Samoa
az_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "AZ", :]

ca_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "CA", :]
co_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "CO", :]
ct_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "CT", :]
dc_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "DC", :] #D.C.
de_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "DE", :]

fl_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "FL", :]
ga_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "GA", :]
gu_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "GU", :] #Guam
hi_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "HI", :]
ia_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "IA", :]

id_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "ID", :]
il_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "IL", :]
in_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "IN", :]
ks_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "KS", :]
ky_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "KY", :]

la_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "LA", :]
ma_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MA", :]
md_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MD", :]
me_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "ME", :]
mi_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MI", :]

mn_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MN", :]
mo_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MO", :]
mp_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MP", :] #Saipan Member of Parliament
ms_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MS", :]
mt_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "MT", :]

nc_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NC", :]
nd_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "ND", :]
ne_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NE", :]
nh_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NH", :]
nj_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NJ", :]

nm_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NM", :]
nv_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NV", :]
ny_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "NY", :]
oh_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "OH", :]
ok_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "OK", :]

or_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "OR", :]
pa_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "PA", :]
pr_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "PR", :] #Puerto Rico
ri_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "RI", :]
sc_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "SC", :]

sd_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "SD", :]
tn_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "TN", :]
tx_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "TX", :]
ut_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "UT", :]
va_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "VA", :]

vi_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "VI", :] #Virgin Islands
vt_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "VT", :]
wa_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "WA", :]
wi_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "WI", :]
wv_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "WV", :]

wy_df = geo_states_reduced.loc[geo_states_reduced["BorrowerState"] == "WY", :]

In [10]:
ak_df.to_csv("../../data/state_data/geo/geocoded/geo_ak.csv") 
al_df.to_csv("../../data/state_data/geo/geocoded/geo_al.csv")
ar_df.to_csv("../../data/state_data/geo/geocoded/geo_ar.csv") 
as_df.to_csv("../../data/state_data/geo/geocoded/geo_as.csv")
az_df.to_csv("../../data/state_data/geo/geocoded/geo_az.csv")

ca_df.to_csv("../../data/state_data/geo/geocoded/geo_ca.csv")
co_df.to_csv("../../data/state_data/geo/geocoded/geo_co.csv") 
ct_df.to_csv("../../data/state_data/geo/geocoded/geo_ct.csv")  
dc_df.to_csv("../../data/state_data/geo/geocoded/geo_dc.csv")
de_df.to_csv("../../data/state_data/geo/geocoded/geo_de.csv") 

fl_df.to_csv("../../data/state_data/geo/geocoded/geo_fl.csv") 
ga_df.to_csv("../../data/state_data/geo/geocoded/geo_ga.csv")
gu_df.to_csv("../../data/state_data/geo/geocoded/geo_gu.csv")
hi_df.to_csv("../../data/state_data/geo/geocoded/geo_hi.csv") 
ia_df.to_csv("../../data/state_data/geo/geocoded/geo_ia.csv")

id_df.to_csv("../../data/state_data/geo/geocoded/geo_id.csv")   
il_df.to_csv("../../data/state_data/geo/geocoded/geo_il.csv")
in_df.to_csv("../../data/state_data/geo/geocoded/geo_in.csv") 
ks_df.to_csv("../../data/state_data/geo/geocoded/geo_ks.csv")
ky_df.to_csv("../../data/state_data/geo/geocoded/geo_ky.csv")

la_df.to_csv("../../data/state_data/geo/geocoded/geo_la.csv")
ma_df.to_csv("../../data/state_data/geo/geocoded/geo_ma.csv") 
md_df.to_csv("../../data/state_data/geo/geocoded/geo_md.csv")
me_df.to_csv("../../data/state_data/geo/geocoded/geo_me.csv")
mi_df.to_csv("../../data/state_data/geo/geocoded/geo_mi.csv") 

mn_df.to_csv("../../data/state_data/geo/geocoded/geo_mn.csv") 
mo_df.to_csv("../../data/state_data/geo/geocoded/geo_mo.csv")
mp_df.to_csv("../../data/state_data/geo/geocoded/geo_mp.csv") 
ms_df.to_csv("../../data/state_data/geo/geocoded/geo_ms.csv")
mt_df.to_csv("../../data/state_data/geo/geocoded/geo_mt.csv")

nc_df.to_csv("../../data/state_data/geo/geocoded/geo_nc.csv")
nd_df.to_csv("../../data/state_data/geo/geocoded/geo_nd.csv")
ne_df.to_csv("../../data/state_data/geo/geocoded/geo_ne.csv")
nh_df.to_csv("../../data/state_data/geo/geocoded/geo_nh.csv")  
nj_df.to_csv("../../data/state_data/geo/geocoded/geo_nj.csv")

nm_df.to_csv("../../data/state_data/geo/geocoded/geo_nm.csv") 
nv_df.to_csv("../../data/state_data/geo/geocoded/geo_nv.csv")  
ny_df.to_csv("../../data/state_data/geo/geocoded/geo_ny.csv")  
oh_df.to_csv("../../data/state_data/geo/geocoded/geo_oh.csv")
ok_df.to_csv("../../data/state_data/geo/geocoded/geo_ok.csv")

or_df.to_csv("../../data/state_data/geo/geocoded/geo_or.csv") 
pa_df.to_csv("../../data/state_data/geo/geocoded/geo_pa.csv")
pr_df.to_csv("../../data/state_data/geo/geocoded/geo_pr.csv")  
ri_df.to_csv("../../data/state_data/geo/geocoded/geo_ri.csv")
sc_df.to_csv("../../data/state_data/geo/geocoded/geo_sc.csv")

sd_df.to_csv("../../data/state_data/geo/geocoded/geo_sd.csv") 
tn_df.to_csv("../../data/state_data/geo/geocoded/geo_tn.csv")  
tx_df.to_csv("../../data/state_data/geo/geocoded/geo_tx.csv")  
ut_df.to_csv("../../data/state_data/geo/geocoded/geo_ut.csv")  
va_df.to_csv("../../data/state_data/geo/geocoded/geo_va.csv") 

vi_df.to_csv("../../data/state_data/geo/geocoded/geo_vi.csv")  
vt_df.to_csv("../../data/state_data/geo/geocoded/geo_vt.csv")
wa_df.to_csv("../../data/state_data/geo/geocoded/geo_wa.csv")
wi_df.to_csv("../../data/state_data/geo/geocoded/geo_wi.csv")  
wv_df.to_csv("../../data/state_data/geo/geocoded/geo_wv.csv") 

wy_df.to_csv("../../data/state_data/geo/geocoded/geo_wy.csv")