In [2]:
import requests
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

<b>Merge Pipe to Current Geo

In [8]:
ppp_geo= pd.read_csv("../../data/state_data/geo/ppp_geo.csv", index_col=0) 
#ppp_geo= ppp_read.drop(["Unnamed: 0.1"], axis=1)
ppp_geo.head()

,LoanNumber,BorrowerState,FullAdd,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN

In [7]:
pd.set_option('display.max_rows', 70)
print(ppp_geo.isnull().sum())

Unnamed: 0            0
LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

In [8]:
#Lat='None'> NaN
#ppp_geo["Lat"].replace(r'None', np.nan, regex=True) #string 'None'
ppp_geo['Lat'].replace('None', np.nan, inplace=True)

In [12]:
ppp_geo = ppp_geo.drop(["Unnamed: 0"], axis=1)
ppp_geo

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,NaN
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,NaN
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,NaN
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,NaN
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,NaN
...,...,...,...,...,...,...
968552,4395967002,WY,"102 N. Kenwood, CASPER, WY",42.850300,-106.304365,NaN
968553,6985647108,WY,"1715 HITCHING POST DR, GREEN RIVER, WY",41.499071,-109.464675,NaN
968554,7996438405,WY,"1105 Adon Rd, Rozet, WY",44.435381,-105.226008,NaN
968555,9054647103,WY,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952,NaN
968556,9184687004,WY,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222,NaN

In [13]:
ppp_geonull = ppp_geo.loc[ppp_geo["Lat"].isnull()]

In [14]:
ppp_geonull["BorrowerState"].value_counts()

FL    13
IN    13
OR     6
ID     2
PR     2
CO     1
GA     1
HI     1
IA     1
IL     1
MA     1
ME     1
VI     1
Name: BorrowerState, dtype: int64

<h4> Process by State

In [56]:
ppp_togeo_comb= ppp_geonull[ppp_geonull["BorrowerState"] == "WA"] 
#ppp_togeo_comb= ppp_geonull

In [55]:
#process to identify and code for unique addresses 
ppp_togeo = ppp_togeo_comb["FullAdd"]
ppp_togeo_unique = ppp_togeo.drop_duplicates()
ppp_togeo_unique

Series([], Name: full_add, dtype: object)

Google Geocoding API

In [31]:
API_KEY = "AIzaSyB1VgzISCRoQ1hh-ARhR0rzXtQmSKA4TkI" # c.s = 39816
#"AIzaSyC7hhwM4qlfkU8zfiq1_MR-n4BWktUxxMo" #c.d.s = 21651

In [32]:
params = {
    "key":API_KEY
}
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
addresses = ppp_togeo_unique #STATE
lat = []
lng = []
notfound = []
for address in tqdm(addresses):
    params['address'] = f"{address}"
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        #print(f"{address} is {results[0]['geometry']['location']}")
        #geometry = results[0]['geometry']
        lat.append(results[0]['geometry']['location']['lat'])
        lng.append(results[0]['geometry']['location']['lng'])
        
    except (KeyError, IndexError):
        print(f"{address} Not Found")
        notfound.append(address)
        lat.append(None)
        lng.append(None)

  0%|          | 0/174 [00:00<?, ?it/s]

919 West Costilla, 919 West Costilla St., CO Not Found
229, CANTON, GA Not Found
1630 Farrington Ave., Kulapuaa, HI Not Found
515 N LOCUST PO BOX 250, GOLDFIELD, IA Not Found
PO Box 39, STAR, ID Not Found
208 Spruce Ave Unit B - 4c, KETCHUM, ID Not Found
847, EVANSTON, IL Not Found
PO Box 125, LAMAR, IN Not Found
4211 CR 61 0.0, Butler, IN Not Found
PO BOX 119, CLIFFORD, IN Not Found
4 W Plymouth St, Hamlet, IN Not Found
4 W. Plymouth St. PO Box 390, HAMLET, IN Not Found
3511 W Napoleon Main St, Napoleon, IN Not Found
3511 W Napoleon Main St, NAPOLEON, IN Not Found
P O Box 156, BUTLER, IN Not Found
PO BOX 201 23326, SHELBY, IN Not Found
PO BOX 65, LEO, IN Not Found
10125 OLD, AURORA, IN Not Found
P.O. Box 88, DALE, IN Not Found
PO BOX 201, LAMAR, IN Not Found
PO Box 508, East Bridgewater, MA Not Found
P.O. Box 207, Oxford, ME Not Found
4530 Mahoney Rd NE, Saint Paul, OR Not Found
100 C Street, Phoenix, OR Not Found
34453 MCGARY LN, WARREN, OR Not Found
259 North Ave, Jefferson, OR Not Found
PO BOX 70, JEFFERSON, OR Not Found
200 E Main St, ENTERPRISE, OR Not Found
Carr. 5506 KM 1.8, Mercedita, PR Not Found
Carr. #1 KM 122.4, MERCEDITA, PR Not Found
4ABC-1, HULL BAY, VI Not Found

In [33]:
print(notfound)
notfound_df = pd.DataFrame({"Not_Found":notfound})
notfound_df.count()

['919 West Costilla, 919 West Costilla St., CO', '229, CANTON, GA', '1630 Farrington Ave., Kulapuaa, HI', '515 N LOCUST PO BOX 250, GOLDFIELD, IA', 'PO Box 39, STAR, ID', '208 Spruce Ave Unit B - 4c, KETCHUM, ID', '847, EVANSTON, IL', 'PO Box 125, LAMAR, IN', '4211 CR 61 0.0, Butler, IN', 'PO BOX 119, CLIFFORD, IN', '4 W Plymouth St, Hamlet, IN', '4 W. Plymouth St. PO Box 390, HAMLET, IN', '3511 W Napoleon Main St, Napoleon, IN', '3511 W Napoleon Main St, NAPOLEON, IN', 'P O Box 156, BUTLER, IN', 'PO BOX 201 23326, SHELBY, IN', 'PO BOX 65, LEO, IN', '10125 OLD, AURORA, IN', 'P.O. Box 88, DALE, IN', 'PO BOX 201, LAMAR, IN', 'PO Box 508, East Bridgewater, MA', 'P.O. Box 207, Oxford, ME', '4530 Mahoney Rd NE, Saint Paul, OR', '100 C Street, Phoenix, OR', '34453 MCGARY LN, WARREN, OR', '259 North Ave, Jefferson, OR', 'PO BOX 70, JEFFERSON, OR', '200 E Main St, ENTERPRISE, OR', 'Carr. 5506 KM 1.8, Mercedita, PR', 'Carr. #1 KM 122.4, MERCEDITA, PR', '4ABC-1, HULL BAY, VI']

Not_Found    31
dtype: int64

In [34]:
addresses = ppp_togeo_unique
addresses

369           1229 RICHARDSON HWY, DELTA JUNCTION, AK
428           1229 Richardson Hwy, DELTA JUNCTION, AK
1865                     1706 Ship Ave, Anchorage, AK
2274           46877 STILLPOINT TRL, HALIBUT COVE, AK
2379                  1706 SHIP AVENUE, ANCHORAGE, AK
                             ...
962027           715 MORGAN ST PO BOX 247, CLYMAN, WI
965063      1020 McDermott Ridge Road, Buckhannon, WV
968550           680 Highway 414 E, Mountain View, WY
968555    30 N. Gould Street Suite 4000, SHERIDAN, WY
968556        7342 Granite Loop Rd, TETON VILLAGE, WY
Name: full_add, Length: 174, dtype: object

In [35]:
lat_df= pd.DataFrame(lat)
lat_df

             0
0    64.030600
1    64.030600
2    61.222654
3    59.593528
4    61.222654
..         ...
169  43.311385
170  39.014724
171  41.269343
172  44.797763
173  43.587714

[174 rows x 1 columns]

In [36]:
#tx_add = addresses.iloc[:5212]

In [37]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)
location_df = pd.DataFrame({"FullAdd": addresses, "Lat": lat, "Long":lng})
location_df.head()

                                     full_add        Lat        Long
369   1229 RICHARDSON HWY, DELTA JUNCTION, AK  64.030600 -145.731320
428   1229 Richardson Hwy, DELTA JUNCTION, AK  64.030600 -145.731320
1865             1706 Ship Ave, Anchorage, AK  61.222654 -149.851510
2274   46877 STILLPOINT TRL, HALIBUT COVE, AK  59.593528 -151.230869
2379          1706 SHIP AVENUE, ANCHORAGE, AK  61.222654 -149.851510

In [ ]:
location_null = location_df.loc[location_df["Lat"].isnull()]
location_null.count()

In [39]:
location_df.to_csv("../../data/state_data/geo/verify/location_verify_extra.csv")

#ref point 1/7

In [5]:
location_df= pd.read_csv("../data/state_data/geo/verify/location_verify_extra.csv")
location_df

,Unnamed: 0,full_add,Lat,Long
0,369,"1229 RICHARDSON HWY, DELTA JUNCTION, AK",64.030600,-145.731320
1,428,"1229 Richardson Hwy, DELTA JUNCTION, AK",64.030600,-145.731320
2,1865,"1706 Ship Ave, Anchorage, AK",61.222654,-149.851510
3,2274,"46877 STILLPOINT TRL, HALIBUT COVE, AK",59.593528,-151.230869
4,2379,"1706 SHIP AVENUE, ANCHORAGE, AK",61.222654,-149.851510
...,...,...,...,...
169,962027,"715 MORGAN ST PO BOX 247, CLYMAN, WI",43.311385,-88.720103
170,965063,"1020 McDermott Ridge Road, Buckhannon, WV",39.014724,-80.110695
171,968550,"680 Highway 414 E, Mountain View, WY",41.269343,-110.326460
172,968555,"30 N. Gould Street Suite 4000, SHERIDAN, WY",44.797763,-106.954952
173,968556,"7342 Granite Loop Rd, TETON VILLAGE, WY",43.587714,-110.822222

In [15]:
#ppp_geo["BorrowerState"].value_counts()
ppp_geo.loc[ppp_geo["FullAdd"]=="18716 S Gadsden St, Gadsden, AZ"]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
20410,5478438406,AZ,"18716 S Gadsden St, Gadsden, AZ",32.555962,-114.783982,NaN

In [42]:
#mapping coordinates to NaN values in main ppp_geo
m = dict(zip(location_df.FullAdd,location_df.Lat))
ppp_geo.Lat = ppp_geo.Lat.fillna(ppp_geo.FullAdd.map(m))
n = dict(zip(location_df.FullAdd,location_df.Long))
ppp_geo.Long = ppp_geo.Long.fillna(ppp_geo.FullAdd.map(n))

In [20]:
null_check =ppp_geo.loc[ppp_geo["Lat"].isnull()] #93877 > 66711 > 61268 > 33334 > 28920 > 26226 > 25876
null_check.count()

LoanNumber       44
BorrowerState    44
full_add         44
Lat               0
Long              0
FIPS_z            0
dtype: int64

In [21]:
print(ppp_geo.isnull().sum())

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  44
Long                 44
FIPS_z           876018
dtype: int64

Writing to main Geo File

In [5]:
ppp_geo = pd.read_csv("../data/state_data/geo/ppp_geo.csv")

In [8]:
print(ppp_geo.isnull().sum())

LoanNumber            0
BorrowerState         0
full_add              6
Lat                  35
Long                 32
FIPS_z           826159
dtype: int64

In [44]:
ppp_geo.to_csv("../../data/state_data/geo/ppp_geo.csv")

In [45]:
ppp_df = ppp_geo

Parsing Geo DataFrame for State Geo Files

In [46]:
ak_df = ppp_df.loc[ppp_df["BorrowerState"] == "AK", :]
al_df = ppp_df.loc[ppp_df["BorrowerState"] == "AL", :]
ar_df = ppp_df.loc[ppp_df["BorrowerState"] == "AR", :]
as_df = ppp_df.loc[ppp_df["BorrowerState"] == "AS", :] #American Samoa
az_df = ppp_df.loc[ppp_df["BorrowerState"] == "AZ", :]

ca_df = ppp_df.loc[ppp_df["BorrowerState"] == "CA", :]
co_df = ppp_df.loc[ppp_df["BorrowerState"] == "CO", :]
ct_df = ppp_df.loc[ppp_df["BorrowerState"] == "CT", :]
dc_df = ppp_df.loc[ppp_df["BorrowerState"] == "DC", :] #D.C.
de_df = ppp_df.loc[ppp_df["BorrowerState"] == "DE", :]

fl_df = ppp_df.loc[ppp_df["BorrowerState"] == "FL", :]
ga_df = ppp_df.loc[ppp_df["BorrowerState"] == "GA", :]
gu_df = ppp_df.loc[ppp_df["BorrowerState"] == "GU", :] #Guam
hi_df = ppp_df.loc[ppp_df["BorrowerState"] == "HI", :]
ia_df = ppp_df.loc[ppp_df["BorrowerState"] == "IA", :]

id_df = ppp_df.loc[ppp_df["BorrowerState"] == "ID", :]
il_df = ppp_df.loc[ppp_df["BorrowerState"] == "IL", :]
in_df = ppp_df.loc[ppp_df["BorrowerState"] == "IN", :]
ks_df = ppp_df.loc[ppp_df["BorrowerState"] == "KS", :]
ky_df = ppp_df.loc[ppp_df["BorrowerState"] == "KY", :]

la_df = ppp_df.loc[ppp_df["BorrowerState"] == "LA", :]
ma_df = ppp_df.loc[ppp_df["BorrowerState"] == "MA", :]
md_df = ppp_df.loc[ppp_df["BorrowerState"] == "MD", :]
me_df = ppp_df.loc[ppp_df["BorrowerState"] == "ME", :]
mi_df = ppp_df.loc[ppp_df["BorrowerState"] == "MI", :]

mn_df = ppp_df.loc[ppp_df["BorrowerState"] == "MN", :]
mo_df = ppp_df.loc[ppp_df["BorrowerState"] == "MO", :]
mp_df = ppp_df.loc[ppp_df["BorrowerState"] == "MP", :] #Saipan Member of Parliament
ms_df = ppp_df.loc[ppp_df["BorrowerState"] == "MS", :]
mt_df = ppp_df.loc[ppp_df["BorrowerState"] == "MT", :]

nc_df = ppp_df.loc[ppp_df["BorrowerState"] == "NC", :]
nd_df = ppp_df.loc[ppp_df["BorrowerState"] == "ND", :]
ne_df = ppp_df.loc[ppp_df["BorrowerState"] == "NE", :]
nh_df = ppp_df.loc[ppp_df["BorrowerState"] == "NH", :]
nj_df = ppp_df.loc[ppp_df["BorrowerState"] == "NJ", :]

nm_df = ppp_df.loc[ppp_df["BorrowerState"] == "NM", :]
nv_df = ppp_df.loc[ppp_df["BorrowerState"] == "NV", :]
ny_df = ppp_df.loc[ppp_df["BorrowerState"] == "NY", :]
oh_df = ppp_df.loc[ppp_df["BorrowerState"] == "OH", :]
ok_df = ppp_df.loc[ppp_df["BorrowerState"] == "OK", :]

or_df = ppp_df.loc[ppp_df["BorrowerState"] == "OR", :]
pa_df = ppp_df.loc[ppp_df["BorrowerState"] == "PA", :]
pr_df = ppp_df.loc[ppp_df["BorrowerState"] == "PR", :] #Puerto Rico
ri_df = ppp_df.loc[ppp_df["BorrowerState"] == "RI", :]
sc_df = ppp_df.loc[ppp_df["BorrowerState"] == "SC", :]

sd_df = ppp_df.loc[ppp_df["BorrowerState"] == "SD", :]
tn_df = ppp_df.loc[ppp_df["BorrowerState"] == "TN", :]
tx_df = ppp_df.loc[ppp_df["BorrowerState"] == "TX", :]
ut_df = ppp_df.loc[ppp_df["BorrowerState"] == "UT", :]
va_df = ppp_df.loc[ppp_df["BorrowerState"] == "VA", :]

vi_df = ppp_df.loc[ppp_df["BorrowerState"] == "VI", :] #Virgin Islands
vt_df = ppp_df.loc[ppp_df["BorrowerState"] == "VT", :]
wa_df = ppp_df.loc[ppp_df["BorrowerState"] == "WA", :]
wi_df = ppp_df.loc[ppp_df["BorrowerState"] == "WI", :]
wv_df = ppp_df.loc[ppp_df["BorrowerState"] == "WV", :]

wy_df = ppp_df.loc[ppp_df["BorrowerState"] == "WY", :]

Geocoded States

In [47]:
ak_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ak.csv") 
al_df.to_csv("../../data/state_data/geo/geocoded/21/geo_al.csv")
ar_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ar.csv") 
as_df.to_csv("../../data/state_data/geo/geocoded/21/geo_as.csv")
az_df.to_csv("../../data/state_data/geo/geocoded/21/geo_az.csv")

ca_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ca.csv")
co_df.to_csv("../../data/state_data/geo/geocoded/21/geo_co.csv") 
ct_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ct.csv")  
dc_df.to_csv("../../data/state_data/geo/geocoded/21/geo_dc.csv")
de_df.to_csv("../../data/state_data/geo/geocoded/21/geo_de.csv") 

fl_df.to_csv("../../data/state_data/geo/geocoded/21/geo_fl.csv") 
ga_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ga.csv")
gu_df.to_csv("../../data/state_data/geo/geocoded/21/geo_gu.csv")
hi_df.to_csv("../../data/state_data/geo/geocoded/21/geo_hi.csv") 
ia_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ia.csv")

id_df.to_csv("../../data/state_data/geo/geocoded/21/geo_id.csv")   
il_df.to_csv("../../data/state_data/geo/geocoded/21/geo_il.csv")
in_df.to_csv("../../data/state_data/geo/geocoded/21/geo_in.csv") 
ks_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ks.csv")
ky_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ky.csv")

la_df.to_csv("../../data/state_data/geo/geocoded/21/geo_la.csv")
ma_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ma.csv") 
md_df.to_csv("../../data/state_data/geo/geocoded/21/geo_md.csv")
me_df.to_csv("../../data/state_data/geo/geocoded/21/geo_me.csv")
mi_df.to_csv("../../data/state_data/geo/geocoded/21/geo_mi.csv") 

mn_df.to_csv("../../data/state_data/geo/geocoded/21/geo_mn.csv") 
mo_df.to_csv("../../data/state_data/geo/geocoded/21/geo_mo.csv")
mp_df.to_csv("../../data/state_data/geo/geocoded/21/geo_mp.csv") 
ms_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ms.csv")
mt_df.to_csv("../../data/state_data/geo/geocoded/21/geo_mt.csv")

nc_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nc.csv")
nd_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nd.csv")
ne_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ne.csv")
nh_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nh.csv")  
nj_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nj.csv")

nm_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nm.csv") 
nv_df.to_csv("../../data/state_data/geo/geocoded/21/geo_nv.csv")  
ny_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ny.csv")  
oh_df.to_csv("../../data/state_data/geo/geocoded/21/geo_oh.csv")
ok_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ok.csv")

or_df.to_csv("../../data/state_data/geo/geocoded/21/geo_or.csv") 
pa_df.to_csv("../../data/state_data/geo/geocoded/21/geo_pa.csv")
pr_df.to_csv("../../data/state_data/geo/geocoded/21/geo_pr.csv")  
ri_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ri.csv")
sc_df.to_csv("../../data/state_data/geo/geocoded/21/geo_sc.csv")

sd_df.to_csv("../../data/state_data/geo/geocoded/21/geo_sd.csv") 
tn_df.to_csv("../../data/state_data/geo/geocoded/21/geo_tn.csv")  
tx_df.to_csv("../../data/state_data/geo/geocoded/21/geo_tx.csv")  
ut_df.to_csv("../../data/state_data/geo/geocoded/21/geo_ut.csv")  
va_df.to_csv("../../data/state_data/geo/geocoded/21/geo_va.csv") 

vi_df.to_csv("../../data/state_data/geo/geocoded/21/geo_vi.csv")  
vt_df.to_csv("../../data/state_data/geo/geocoded/21/geo_vt.csv")
wa_df.to_csv("../../data/state_data/geo/geocoded/21/geo_wa.csv")
wi_df.to_csv("../../data/state_data/geo/geocoded/21/geo_wi.csv")  
wv_df.to_csv("../../data/state_data/geo/geocoded/21/geo_wv.csv") 

wy_df.to_csv("../../data/state_data/geo/geocoded/21/geo_wy.csv")