In [1]:
import requests
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [2]:
main_file_geo = pd.read_csv("../../data/state_data/geo/ppp_geo_fips23.csv", index_col=0)
main_file_geo

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

<b>Null GEO Column Counts

In [3]:
print(main_file_geo.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           0
Lat                0
Long               0
FIPS_z           776
dtype: int64

<b>Filter DataFrame for Null GEO columns

In [4]:
main_file_geonull = main_file_geo.loc[main_file_geo["Lat"].isnull()]

Count of Null GEO columns by State

In [5]:
main_file_geonull["BorrowerState"].value_counts()

Series([], Name: count, dtype: int64)

Drop Duplicate Addresses to avoid repeating requests

In [7]:
#process to identify and code for unique addresses 
ppp_togeo = main_file_geonull["full_add"]
ppp_togeo_unique = ppp_togeo.drop_duplicates()
ppp_togeo_unique

354937         4 W Plymouth St, Hamlet, IN
354938         4 W Plymouth St, HAMLET, IN
360273    10125 State Route 56, AURORA, IN
363028      N County Road 900 E, LAMAR, IN
Name: full_add, dtype: object

Google Geocoding API

In [105]:
API_KEY = "AIzaSyB1VgzISCRoQ1hh-ARhR0rzXtQmSKA4TkI" # c.s = 40k
#"AIzaSyC7hhwM4qlfkU8zfiq1_MR-n4BWktUxxMo" #c.d.s = 40k

In [106]:
params = {
    "key":API_KEY
}
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
addresses = ppp_togeo_unique #STATE
lat = []
lng = []
notfound = []
for address in tqdm(addresses):
    params['address'] = f"{address}"
    response = requests.get(base_url, params=params).json()
    results = response['results']
    try:
        #print(f"{address} is {results[0]['geometry']['location']}")
        #geometry = results[0]['geometry']
        lat.append(results[0]['geometry']['location']['lat'])
        lng.append(results[0]['geometry']['location']['lng'])
        
    except (KeyError, IndexError):
        print(f"{address} Not Found")
        notfound.append(address)
        lat.append(None)
        lng.append(None)

  0%|          | 0/4 [00:00<?, ?it/s]

4 W Plymouth St, Hamlet, IN Not Found
4 W Plymouth St, HAMLET, IN Not Found
10125 State Route 56, AURORA, IN Not Found
N County Road 900 E, LAMAR, IN Not Found

In [80]:
print(notfound)
notfound_df = pd.DataFrame({"Not_Found":notfound})
notfound_df.count() #23

['4 Plymouth St, Hamlet, IN', '4 Plymouth St, HAMLET, IN', '10125 Old State Route 56, AURORA, IN', '12729 N County Road 900 E, LAMAR, IN']

Not_Found    4
dtype: int64

In [81]:
addresses = ppp_togeo_unique
addresses

123646    2212 Lake Tahoe Blvd, South Lake Tahoe, CA
165842    919 West Costilla St, Colorado Springs, CO
175369                  22095 Fm 1314 Rd, Porter, TX
230734            25662 Sierra Center Blvd, Lutz, FL
294974            1630 Farrington Ave., Kualapuu, HI
295537                515 N LOCUST St, GOLDFIELD, IA
306214                    10942 W State St, STAR, ID
341783              847 Chicago Avenue, EVANSTON, IL
350170                      8735 Hwy 66 E, LAMAR, IN
351111               4211 County Road 61, Butler, IN
351457                    4355 E 600 N, Columbus, IN
354949                     4 Plymouth St, Hamlet, IN
354950                     4 Plymouth St, HAMLET, IN
357925               4500 County Road 59, BUTLER, IN
358683                 23326 Shelby Road, SHELBY, IN
359330             6415 Mutual Drive, Fort Wayne, IN
360285          10125 Old State Route 56, AURORA, IN
360826                   2034 W 1800 S, Clinton, IN
360916                      4360 N Line Rd, Dale, IN
363040          12729 N County Road 900 E, LAMAR, IN
444159               7 Oxford Homes Lane, Oxford, ME
730718          10476 Sunnyside RD SE, JEFFERSON, OR
959024                     715 MORGAN ST, CLYMAN, WI
Name: full_add, dtype: object

In [82]:
lat_df= pd.DataFrame(lat)
lat_df

            0
0   38.917538
1   38.827923
2   30.128867
3   28.194869
4   21.152936
5   42.735667
6   43.692224
7   42.033610
8   36.148057
9   41.379537
10  39.288813
11        NaN
12        NaN
13  41.371988
14  41.193389
15  41.137954
16        NaN
17  39.625404
18  38.203927
19        NaN
20  44.150196
21  44.803295
22  43.312862

In [84]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)
location_df = pd.DataFrame({"full_add": addresses, "Lat": lat, "Long":lng})
location_df

                                          full_add        Lat        Long
123646  2212 Lake Tahoe Blvd, South Lake Tahoe, CA  38.917538 -119.997199
165842  919 West Costilla St, Colorado Springs, CO  38.827923 -104.843132
175369                22095 Fm 1314 Rd, Porter, TX  30.128867  -95.281849
230734          25662 Sierra Center Blvd, Lutz, FL  28.194869  -82.392433
294974          1630 Farrington Ave., Kualapuu, HI  21.152936 -157.036243
295537              515 N LOCUST St, GOLDFIELD, IA  42.735667  -93.915702
306214                  10942 W State St, STAR, ID  43.692224 -116.490132
341783            847 Chicago Avenue, EVANSTON, IL  42.033610  -87.679141
350170                    8735 Hwy 66 E, LAMAR, IN  36.148057  -95.878467
351111             4211 County Road 61, Butler, IN  41.379537  -84.898315
351457                  4355 E 600 N, Columbus, IN  39.288813  -85.873655
354949                   4 Plymouth St, Hamlet, IN        NaN         NaN
354950                   4 Plymouth St, HAMLET, IN        NaN         NaN
357925             4500 County Road 59, BUTLER, IN  41.371988  -84.921911
358683               23326 Shelby Road, SHELBY, IN  41.193389  -87.348421
359330           6415 Mutual Drive, Fort Wayne, IN  41.137954  -85.144898
360285        10125 Old State Route 56, AURORA, IN        NaN         NaN
360826                 2034 W 1800 S, Clinton, IN   39.625404  -87.507753
360916                    4360 N Line Rd, Dale, IN  38.203927  -87.049555
363040        12729 N County Road 900 E, LAMAR, IN        NaN         NaN
444159             7 Oxford Homes Lane, Oxford, ME  44.150196  -70.482626
730718        10476 Sunnyside RD SE, JEFFERSON, OR  44.803295 -123.031350
959024                   715 MORGAN ST, CLYMAN, WI  43.312862  -88.716840

In [85]:
#mapping coordinates to NaN values in main ppp_geo
m = dict(zip(location_df.full_add,location_df.Lat))
main_file_geo.Lat = main_file_geo.Lat.fillna(main_file_geo.full_add.map(m))
n = dict(zip(location_df.full_add,location_df.Long))
main_file_geo.Long = main_file_geo.Long.fillna(main_file_geo.full_add.map(n))

In [86]:
print(main_file_geo.isnull().sum())

LoanNumber          0
BorrowerState       0
full_add            0
Lat                 4
Long                4
FIPS_z           1393
dtype: int64

Writing to Main File GEO

In [ ]:
main_file_geo.to_csv("../../data/state_data/geo/ppp_geo_fips23.csv")

Write Null Coords

In [87]:
mask= main_file_geo['Lat'].isnull() | main_file_geo['Long'].isnull() 
null_coords = main_file_geo[mask]
null_coords

        LoanNumber BorrowerState                              full_add  Lat  Long  FIPS_z
354949  2346618406            IN             4 Plymouth St, Hamlet, IN  NaN   NaN     NaN
354950  4585587105            IN             4 Plymouth St, HAMLET, IN  NaN   NaN     NaN
360285  7747727107            IN  10125 Old State Route 56, AURORA, IN  NaN   NaN     NaN
363040  7239557206            IN  12729 N County Road 900 E, LAMAR, IN  NaN   NaN     NaN

In [88]:
ppp_pipe23 = pd.read_csv("../../data/ppp_pipe23.csv")
cols= ['LoanNumber','BorrowerName']
ppp_pipe23 = ppp_pipe23[cols]
null_coords_merge= null_coords.merge(ppp_pipe23, on="LoanNumber", how="left")
null_coords_merge.to_csv("../../data/null/nullcoords23.csv") 
null_coords_merge

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_2147/1086062853.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  ppp_pipe23 = pd.read_csv("../../data/ppp_pipe23.csv")

   LoanNumber BorrowerState                              full_add  Lat  Long  FIPS_z                                       BorrowerName
0  2346618406            IN             4 Plymouth St, Hamlet, IN  NaN   NaN     NaN    STARKE COUNTY FARM BUREAU COOPERATIVE ASSN INC.
1  4585587105            IN             4 Plymouth St, HAMLET, IN  NaN   NaN     NaN  STARKE COUNTY FARM BUREAU COOPERATIVE ASSN., INC.
2  7747727107            IN  10125 Old State Route 56, AURORA, IN  NaN   NaN     NaN                          WOLVERINE INSPECTIONS LLC
3  7239557206            IN  12729 N County Road 900 E, LAMAR, IN  NaN   NaN     NaN                              LEIBERING & SONS, INC

After Fix, Read back in, combine to main, re-run through geocoder, write back to main

In [90]:
data_xls = pd.read_excel('../../data/null/nullcoords23_update.xlsx', index_col=None)
data_xls.to_csv('../../data/null/nullcoords23_update.csv', encoding='utf-8', index=False)

In [ ]:
null_coord_update = pd.read_csv("../../data/null/nullcoords23_update.csv")
cols =["LoanNumber", "BorrowerState", "full_add"]
null_coord_update = null_coord_update[cols]
null_coord_update

In [92]:
main_file_geo = main_file_geo.merge(null_coord_update,on='LoanNumber',how="left")
main_file_geo

        LoanNumber BorrowerState_x                                   full_add_x        Lat        Long        FIPS_z BorrowerState_y full_add_y
0       9547507704              SC            2410 Highway 15 South, Sumter, SC  33.853682  -80.369867  4.508500e+14             NaN        NaN
1       9777677704              SC    7684 Southrail Road, North Charleston, SC  32.942332  -80.066165  4.501900e+14             NaN        NaN
2       5791407702              WA                1850 BOYER AVE E, SEATTLE, WA  47.636067 -122.302559  5.303301e+14             NaN        NaN
3       6223567700              CA     1661 MARTIN RANCH RD, SAN BERNARDINO, CA  34.224719 -117.372550  6.071005e+13             NaN        NaN
4       9662437702   Not Available                  17 S High St., COLUMBUS, OH  39.961717  -83.001011           NaN             NaN        NaN
...            ...             ...                                          ...        ...         ...           ...             ...        ...
965547  4395967002              WY                   102 N. Kenwood, CASPER, WY  42.850300 -106.304365  5.602500e+14             NaN        NaN
965548  6985647108              WY       1715 HITCHING POST DR, GREEN RIVER, WY  41.499071 -109.464675  5.603797e+14             NaN        NaN
965549  7996438405              WY                      1105 Adon Rd, Rozet, WY  44.435381 -105.226008  5.600500e+14             NaN        NaN
965550  9054647103              WY  30 N. Gould Street Suite 4000, SHERIDAN, WY  44.797763 -106.954952  5.603300e+14             NaN        NaN
965551  9184687004              WY      7342 Granite Loop Rd, TETON VILLAGE, WY  43.587714 -110.822222  5.603997e+14             NaN        NaN

[965552 rows x 8 columns]

In [96]:
main_file_geo.loc[main_file_geo["LoanNumber"]== 7239557206]
#main_file_geo.loc[main_file_geo["LoanNumber"]== 3491228408]

        LoanNumber BorrowerState                        full_add  Lat  Long  FIPS_z
363040  7239557206            IN  N County Road 900 E, LAMAR, IN  NaN   NaN     NaN

In [94]:
mask = main_file_geo["full_add_y"].notna()
main_file_geo.loc[mask, "full_add_x"]=main_file_geo["full_add_y"]
mask2 = main_file_geo["BorrowerState_y"].notna()
main_file_geo.loc[mask2, "BorrowerState_x"]=main_file_geo["BorrowerState_y"]

In [95]:
main_file_geo.drop(["BorrowerState_y","full_add_y"],inplace=True,axis=1)
main_file_geo.rename(columns={'BorrowerState_x':'BorrowerState','full_add_x':'full_add'},inplace=True)
main_file_geo

        LoanNumber  BorrowerState                                     full_add        Lat        Long        FIPS_z
0       9547507704             SC            2410 Highway 15 South, Sumter, SC  33.853682  -80.369867  4.508500e+14
1       9777677704             SC    7684 Southrail Road, North Charleston, SC  32.942332  -80.066165  4.501900e+14
2       5791407702             WA                1850 BOYER AVE E, SEATTLE, WA  47.636067 -122.302559  5.303301e+14
3       6223567700             CA     1661 MARTIN RANCH RD, SAN BERNARDINO, CA  34.224719 -117.372550  6.071005e+13
4       9662437702  Not Available                  17 S High St., COLUMBUS, OH  39.961717  -83.001011           NaN
...            ...            ...                                          ...        ...         ...           ...
965547  4395967002             WY                   102 N. Kenwood, CASPER, WY  42.850300 -106.304365  5.602500e+14
965548  6985647108             WY       1715 HITCHING POST DR, GREEN RIVER, WY  41.499071 -109.464675  5.603797e+14
965549  7996438405             WY                      1105 Adon Rd, Rozet, WY  44.435381 -105.226008  5.600500e+14
965550  9054647103             WY  30 N. Gould Street Suite 4000, SHERIDAN, WY  44.797763 -106.954952  5.603300e+14
965551  9184687004             WY      7342 Granite Loop Rd, TETON VILLAGE, WY  43.587714 -110.822222  5.603997e+14

[965552 rows x 6 columns]

For Addresses Geocoder unable to Locate, manual input:

In [6]:
main_file_geo.loc[main_file_geo["LoanNumber"]==2346618406, "Lat"]=41.383258
main_file_geo.loc[main_file_geo["LoanNumber"]==2346618406, "Long"]=-86.584577

main_file_geo.loc[main_file_geo["LoanNumber"]==4585587105, "Lat"]=41.383258
main_file_geo.loc[main_file_geo["LoanNumber"]==4585587105, "Long"]=-86.584577

main_file_geo.loc[main_file_geo["LoanNumber"]==7747727107, "full_add"]="10125 State Route 56, AURORA, IN"
main_file_geo.loc[main_file_geo["LoanNumber"]==7747727107, "Lat"]=38.707659
main_file_geo.loc[main_file_geo["LoanNumber"]==7747727107, "Long"]=-85.574484


main_file_geo.loc[main_file_geo["LoanNumber"]==7239557206, "Lat"]=38.070815
main_file_geo.loc[main_file_geo["LoanNumber"]==7239557206, "Long"]=-86.883431

In [7]:
main_file_geo.loc[main_file_geo["LoanNumber"]==7747727107]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
360273,7747727107,IN,"10125 State Route 56, AURORA, IN",38.707659,-85.574484,NaN

Writing to main Geo File

In [12]:
main_file_geo.to_csv("../../data/state_data/geo/ppp_geo_fips23.csv")