In [1]:
import pandas as pd
import numpy as np

import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

import json
import pprint

In [2]:
csv_reader = pd.read_csv("../data/state_data/hash_states/hpgf_il.csv")
il_hpgf = pd.DataFrame(csv_reader)
il_hpgf.head()

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,...,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,7,2366557707,IND00SS00LR1JR1BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,AQUA RENTAL INC,...,N,NaN,NaN,5%,9116.35,NaN,"1916 W CERMAK RD FL 2, CHICAGO, IL",41.852382,-87.674120,1.703131e+14
1,33,1719447700,IND00SS00LR1JR1BT02BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"SHIP.CARS USA, LLC",...,N,85593.81,8/16/21,5%,15093.00,NaN,"1515 East Woodfield Road Suite 770, SCHAUMBURG...",42.041101,-88.042925,1.703180e+14
2,58,7005677705,IND00SS00LR1JR1BT03BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,PATHINSIGHTS INC,...,N,55720.34,5/21/21,5%,12625.00,NaN,"2777 Finley road #10, Downers grove, IL",41.838445,-88.025419,1.704384e+14
3,98,7707357708,IND00SS00LR1JR1BT03BA3PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,INSTITUTE FOR HUMAN REPRO IHR,...,N,241799.36,5/21/21,5%,11965.00,NaN,"409 W. HURON ST., CHICAGO, IL",41.894491,-87.639033,1.703108e+14
4,152,3222797704,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,MON PRIDE EXPRESS INC,...,N,253191.81,8/16/21,5%,12500.00,NaN,"921 BRENDON DR, SCHAUMBURG, IL",42.042506,-88.136726,1.703180e+14

In [3]:
il_hpgf.loc[il_hpgf["FIPS_z"].isnull()] #36 values, wait for verification, map frame for FIPS avaliable

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,...,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
172,5119,2408737701,IND00SS00LR1JR5BT03BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,TEACHER INNOVATIONS INC DBA PLANBOOKCOM,...,N,164172.12,5/17/21,5%,8125.000,NaN,"7736 STATE ROUTE 34, YORKVILLE, IL",43.055693,-76.558131,NaN
715,30896,6478417409,IND22SS11LR3JR4BT09BA1PPP,Utilities,"2211 Electric Power Generation, Transmission a...",5/14/20,507,ILLINOIS DISTRICT OFFICE,PPP,WAYNE-WHITE COUNTIES ELECTRIC COOPERATIVE,...,N,1330256.67,6/15/21,3%,39480.000,Electric Power Distribution,"1501 W. MAIN ST PO Drawer E, FAIRFIELD, IL",38.033561,-78.497707,NaN
757,32125,4357417000,IND22SS13LR4JR6BT01BA1PPP,Utilities,"2213 Water, Sewage and Other Systems",4/3/20,507,ILLINOIS DISTRICT OFFICE,PPP,"LEIBOLD IRRIGATION, INC.",...,N,2099178.90,6/11/21,1%,20748.000,Water Supply and Irrigation Systems,"18960 County Hwy 5 W, EAST DUBUQUE, IL",42.508105,-90.565332,NaN
1778,64109,6829277004,IND23SS62LR3JR5BT01BA1PPP,Construction,2362 Nonresidential Building Construction,4/7/20,507,ILLINOIS DISTRICT OFFICE,PPP,CAMOSY INCORPORATED,...,N,1310307.41,12/17/20,3%,39045.000,Commercial and Institutional Building Construc...,"43451 US HIGHWAY 41, ZION, IL",47.046908,-88.518619,NaN
1796,64399,3313488304,IND23SS62LR3JR5BT01BA1PPS,Construction,2362 Nonresidential Building Construction,1/21/21,507,ILLINOIS DISTRICT OFFICE,PPS,CAMOSY INCORPORATED,...,N,1426362.15,10/19/21,3%,42481.275,Commercial and Institutional Building Construc...,"43451 N US Highway 41, Zion, IL",35.242488,-85.690479,NaN
2223,76045,4791837000,IND23SS73LR3JR5BT01BA1PPP,Construction,"2373 Highway, Street, and Bridge Construction",4/4/20,507,ILLINOIS DISTRICT OFFICE,PPP,"SCHROEDER ASPHALT SERVICES, INC",...,N,1208668.08,12/15/20,3%,36006.000,"Highway, Street, and Bridge Construction","11022 S. Route 20, MARENGO, IL",42.902196,-106.494403,NaN
3276,97343,9354057704,IND23SS82LR1JR2BT02BA2PPP,Construction,2382 Building Equipment Contractors,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,CARROLL WEISS &AMP; ASSOCIATES INC,...,N,NaN,NaN,5%,17374.750,Electrical Contractors and Other Wiring Instal...,"639 W MAIN ST, BATAVIA, IL",38.031585,-78.489502,NaN
3983,116389,6090997009,IND23SS82LR2JR3BT03BA1PPP,Construction,2382 Building Equipment Contractors,4/6/20,507,ILLINOIS DISTRICT OFFICE,PPP,"TRICO MECHANICAL, INC.",...,N,355079.28,11/3/20,3%,10593.750,"Plumbing, Heating, and Air-Conditioning Contra...","1980 W US HWY 30, Suite 11, SUGAR GROVE, IL",39.858227,-77.298102,NaN
6450,177333,6463967004,IND32SS19LR3JR6BT01BA2PPP,Manufacturing,3219 Other Wood Product Manufacturing,4/7/20,507,ILLINOIS DISTRICT OFFICE,PPP,CALCO,...,N,1267135.56,11/3/20,3%,37803.000,Wood Container and Pallet Manufacturing,"11600 Sterling Parkway, RICHMOND, IL",42.495414,-88.320057,NaN
9516,226581,3984847201,IND33SS33LR3JR6BT01BA1PPP,Manufacturing,3333 Commercial and Service Industry Machinery...,4/27/20,507,ILLINOIS DISTRICT OFFICE,PPP,"MINUTEMAN, INC.",...,N,1843812.43,2/16/21,3%,54875.370,Other Commercial and Service Industry Machiner...,"14 N 845 US-20, Hampshire, IL",44.370091,-108.038415,NaN
9799,230031,1328317808,IND33SS35LR2JR4BT01BA2PPP,Manufacturing,3335 Metalworking Machinery Manufacturing,5/1/20,562,INDIANA DISTRICT OFFICE,PPP,LOGANSPORT MACHINE COMPANY INC,...,N,512570.28,5/24/21,3%,15219.000,Cutting Tool and Machine Tool Accessory Manufa...,"1200 West Linden Avenue, Logansport, IL",40.755215,-86.385976,NaN
9843,230376,5482217101,IND33SS35LR2JR5BT02BA2PPP,Manufacturing,3335 Metalworking Machinery Manufacturing,4/13/20,507,ILLINOIS DISTRICT OFFICE,PPP,NATC LLC,...,N,561430.13,9/2/21,3%,16614.000,Machine Tool Manufacturing,"215 Elmwood Ave, UNION, IL",40.698010,-74.280309,NaN
10788,246404,6400167101,IND33SS64LR1JR3BT01BA1PPP,Manufacturing,3364 Aerospace Product and Parts Manufacturing,4/14/20,507,ILLINOIS DISTRICT OFFICE,PPP,RUSSTECH ENGINEERING INC.,...,N,228478.66,5/18/21,5%,11301.500,Aircraft Manufacturing,"16 Technology Drive Suite 111, Irvine, IL",33.650602,-117.736467,NaN
12594,283619,4389107300,IND42SS38LR1JR3BT01BA3PPP,Wholesale Trade,"4238 Machinery, Equipment, and Supplies Mercha...",4/29/20,507,ILLINOIS DISTRICT OFFICE,PPP,"FARMERS AG SERVICE, INC.",...,N,163326.53,7/9/21,5%,8070.600,Farm and Garden Machinery and Equipment Mercha...,"301 S PARK ST, GIFFORD, IL",43.063867,-89.400267,NaN
13833,310451,6227707103,IND42SS49LR3JR6BT01BA1PPP,Wholesale Trade,4249 Miscellaneous Nondurable Goods Merchant W...,4/14/20,507,ILLINOIS DISTRICT OFFICE,PPP,BUREAU SERVICE COMPANY,...,N,1905155.73,7/9/21,3%,56463.000,Farm Supplies Merchant Wholesalers,"22069 US HIGHWAY 34, PRINCETON, IL",40.392967,-104.634462,NaN
13841,310493,4428188509,IND42SS49LR3JR6BT01BA1PPS,Wholesale Trade,4249 Miscellaneous Nondurable Goods Merchant W...,2/25/21,507,ILLINOIS DISTRICT OFFICE,PPS,BUREAU SERVICE COMPANY,...,N,NaN,NaN,3%,55944.000,Farm Supplies Merchant Wholesalers,"22069 US Highway 34, Princeton, IL",40.392967,-104.634462,NaN
14334,320907,4808097109,IND44SS11LR2JR4BT07BA1PPP,Retail Trade,4411 Automobile Dealers,4/13/20,507,ILLINOIS DISTRICT OFFICE,PPP,SAGINAW BAY HEMP COMPANY,...,N,486248.12,5/27/21,3%,14427.750,New Car Dealers,"1000 E. US Highway 34, PLANO, IL",41.026674,-94.014404,NaN
14335,320915,9164158400,IND44SS11LR2JR4BT07BA1PPS,Retail Trade,4411 Automobile Dealers,2/16/21,507,ILLINOIS DISTRICT OFFICE,PPS,DEMPSEY DODGE CHRYSLER JEEP II INC,...,N,NaN,NaN,3%,12382.287,New Car Dealers,"1000 E US Highway 34, Plano, IL",41.026674,-94.014404,NaN
14381,321794,4263327203,IND44SS11LR2JR5BT01BA1PPP,Retail Trade,4411 Automobile Dealers,4/27/20,507,ILLINOIS DISTRICT OFFICE,PPP,RIVER VIEW FORD INC,...,N,649333.33,10/8/21,3%,19200.000,New Car Dealers,"2000 US HIGHWAY 30, OSWEGO, IL",41.830975,-90.701615,NaN
14773,329703,9418607006,IND44SS12LR1JR3BT01BA1PPP,Retail Trade,4412 Other Motor Vehicle Dealers,4/9/20,507,ILLINOIS DISTRICT OFFICE,PPP,VACATIONLAND INC,...,N,150816.67,11/3/20,5%,7500.000,Recreational Vehicle Dealers,"47 W 529 US Route 30, BIG ROCK, IL",40.451443,-80.251737,NaN
15328,345805,2252087100,IND44SS42LR3JR7BT02BA2PPP,Retail Trade,4442 Lawn and Garden Equipment and Supplies St...,4/10/20,507,ILLINOIS DISTRICT OFFICE,PPP,"HAMPSHIRE HOLDINGS, LLC",...,N,1445590.92,8/17/21,3%,42802.500,"Nursery, Garden Center, and Farm Supply Stores","14 N 850 Route 20, HAMPSHIRE, IL",42.468637,-73.419886,NaN
17130,387718,7639977104,IND48SS41LR3JR6BT03BA3PPP,Transportation and Warehousing,4841 General Freight Trucking,4/14/20,507,ILLINOIS DISTRICT OFFICE,PPP,"DIBBLE TRUCKING, INC.",...,N,1261030.27,12/23/20,3%,37575.600,"General Freight Trucking, Long-Distance, Truck...","7505 S Us Highway 66, GARDNER, IL",36.145096,-96.002364,NaN
17540,397597,1957667103,IND48SS81LR2JR4BT01BA1PPP,Transportation and Warehousing,4881 Support Activities for Air Transportation,4/10/20,507,ILLINOIS DISTRICT OFFICE,PPP,"JOLIET AVIONICS, INC.",...,N,576139.00,3/11/21,3%,17130.000,Other Airport Operations,"43 W 730 US Highway 30, SUGAR GROVE, IL",41.468463,-87.207119,NaN
19438,440031,3209857105,IND53SS11LR1JR3BT03BA1PPP,Real Estate and Rental and Leasing,5311 Lessors of Real Estate,4/11/20,507,ILLINOIS DISTRICT OFFICE,PPP,DEKANE EQUIPMENT CORPORATION,...,N,174042.81,11/20/20,5%,8650.000,Lessors of Nonresidential Buildings (except Mi...,"47619 W. US Route 30, BIG ROCK, IL",44.956449,-117.938204,NaN
19602,443641,8342537301,IND53SS11LR2JR5BT01BA2PPP,Real Estate and Rental and Leasing,5311 Lessors of Real Estate,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,AUSTIN HIGHLANDS DEVELOPMENT COMPANY,...,N,615324.69,9/20/21,3%,18210.360,Lessors of Nonresidential Buildings (except Mi...,"7000 S ADAMS ST STE 250, WILLOW BROOK, IL",NaN,NaN,NaN
24862,567234,2821508310,IND54SS19LR1JR3BT02BA1PPS,"Professional, Scientific, and Technical Services","5419 Other Professional, Scientific, and Techn...",1/21/21,507,ILLINOIS DISTRICT OFFICE,PPS,MULTILINGUAL CONNECTIONS LLC,...,N,NaN,NaN,5%,9249.125,Translation and Interpretation Services,"847, EVANSTON, IL",NaN,NaN,NaN
25480,582951,3557387102,IND56SS12LR1JR4BT02BA1PPP,Administrative and Support and Waste Managemen...,5612 Facilities Support Services,4/11/20,507,ILLINOIS DISTRICT OFFICE,PPP,"WELKINS, LLC",...,N,318418.55,2/1/21,5%,15795.000,Facilities Support Services,"3000 woodcreek drive, Suite 300, Downers Grove...",41.831377,-88.035963,NaN
26898,617241,2174297707,IND56SS19LR1JR2BT02BA1PPP,Administrative and Support and Waste Managemen...,5619 Other Support Services,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,GLOBAL INFRASTRUCTURE LLC,...,N,157579.94,5/5/21,5%,7800.850,All Other Support Services,"4937 WILSHIRE BLVD, CNTRY CLB HLS, IL",34.062174,-118.338767,NaN
30714,723717,5924068305,IND62SS19LR2JR5BT01BA1PPS,Health Care and Social Assistance,6219 Other Ambulatory Health Care Services,1/26/21,507,ILLINOIS DISTRICT OFFICE,PPS,AEROCARE MEDICAL TRANSPORT SYSTEMS INC,...,N,NaN,NaN,3%,17965.191,Ambulance Services,"43 W 752 Highway 30 Suite 2F, Sugar Grove, IL",42.063715,-94.857290,NaN
32103,752403,1774927705,IND62SS42LR1JR4BT01BA1PPP,Health Care and Social Assistance,"6242 Community Food and Housing, and Emergency...",5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,OLIVE BRANCH MISSION,...,N,322186.49,1/8/21,5%,16000.000,Temporary Shelters,"C/O La Forice Nealy 6310 S CLAREMONT AVE, CHIC...",41.778938,-87.682691,NaN
34903,829467,4735788305,IND72SS25LR1JR4BT01BA1PPS,Accommodation and Food Services,7225 Restaurants and Other Eating Places,1/23/21,507,ILLINOIS DISTRICT OFFICE,PPS,JIMMYS CHARHOUSE OF ELGIN,...,N,NaN,NaN,5%,15367.600,Full-Service Restaurants,"2290 Point Blvd, Elgin, IL",42.083396,-88.333610,NaN
35796,844539,2391268309,IND72SS25LR1JR4BT02BA1PPS,Accommodation and Food Services,7225 Restaurants and Other Eating Places,1/20/21,507,ILLINOIS DISTRICT OFFICE,PPS,RZ3285 OSWEGO LLC,...,N,175302.17,11/16/21,5%,8698.900,Limited-Service Restaurants,"2850 US-34, OSWEGO, IL",40.997234,-91.815673,NaN
37057,881572,2112178304,IND72SS25LR2JR4BT05BA1PPS,Accommodation and Food Services,7225 Restaurants and Other Eating Places,1/20/21,507,ILLINOIS DISTRICT OFFICE,PPS,AURELIOS PIZZA SOUTH LOOP LLC,...,N,NaN,NaN,3%,10521.735,Full-Service Restaurants,"18162 Harwood Ave, Homewood, IL",41.559420,-87.668894,NaN
38367,916032,5068958308,IND81SS13LR1JR3BT02BA1PPS,Other Services (except Public Administration),8113 Commercial and Industrial Machinery and E...,1/25/21,507,ILLINOIS DISTRICT OFFICE,PPS,RED BIRD MACHINERY REPAIR LLC,...,N,NaN,NaN,5%,7520.000,Commercial and Industrial Machinery and Equipm...,"1410 US Highway 45 N, Eldorado, IL",45.526731,-89.161915,NaN
38986,929301,7249568405,IND81SS23LR3JR6BT02BA1PPS,Other Services (except Public Administration),8123 Drycleaning and Laundry Services,2/11/21,507,ILLINOIS DISTRICT OFFICE,PPS,SOUTHEAST LINEN ASSOCIATES LLC,...,N,1091057.15,8/27/21,3%,32561.325,Linen Supply,4508 W 46th St 6445 E Houghton Lake Dr Houghto...,44.369346,-84.692139,NaN
40436,959700,1199707810,IND81SS39LR1JR6BT01BA2PPP,Other Services (except Public Administration),"8139 Business, Professional, Labor, Political,...",5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"THE ADVENTURE CLUB, INC",...,N,NaN,NaN,5%,11223.600,Political Organizations,"105 E JOILET ST, SCHEREVILLE, IL",41.492044,-87.448921,NaN

In [4]:
il_hpgf["CurrentApprovalAmount"].sum() # 10119537790.66
il_hpgf["LoanNumber"].count() #18979 #average 525,382

40815

In [5]:
il_hpgf = il_hpgf.loc[il_hpgf["FIPS_z"].notna()] #40779
il_hpgf

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,...,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,7,2366557707,IND00SS00LR1JR1BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,AQUA RENTAL INC,...,N,NaN,NaN,5%,9116.35,NaN,"1916 W CERMAK RD FL 2, CHICAGO, IL",41.852382,-87.674120,1.703131e+14
1,33,1719447700,IND00SS00LR1JR1BT02BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"SHIP.CARS USA, LLC",...,N,85593.81,8/16/21,5%,15093.00,NaN,"1515 East Woodfield Road Suite 770, SCHAUMBURG...",42.041101,-88.042925,1.703180e+14
2,58,7005677705,IND00SS00LR1JR1BT03BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,PATHINSIGHTS INC,...,N,55720.34,5/21/21,5%,12625.00,NaN,"2777 Finley road #10, Downers grove, IL",41.838445,-88.025419,1.704384e+14
3,98,7707357708,IND00SS00LR1JR1BT03BA3PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,INSTITUTE FOR HUMAN REPRO IHR,...,N,241799.36,5/21/21,5%,11965.00,NaN,"409 W. HURON ST., CHICAGO, IL",41.894491,-87.639033,1.703108e+14
4,152,3222797704,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,MON PRIDE EXPRESS INC,...,N,253191.81,8/16/21,5%,12500.00,NaN,"921 BRENDON DR, SCHAUMBURG, IL",42.042506,-88.136726,1.703180e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40810,968444,2060067710,IND99SS00LR3JR5BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"QSRSOFT, LLC",...,N,1960811.98,7/7/21,3%,58142.19,NaN,"1806 S Highland Ave Ste 200, Lombard, IL",41.849617,-88.012612,1.704384e+14
40811,968530,5268517009,IND99SS00LR4JR6BT02BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/5/20,507,ILLINOIS DISTRICT OFFICE,PPP,"ROA MANAGEMENT, LLC",...,N,2059845.66,6/17/21,1%,20357.00,NaN,"181 W MADISON ST Suite 4700, CHICAGO, IL",41.881622,-87.633368,1.703184e+14
40812,968533,2267327103,IND99SS00LR4JR7BT01BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/10/20,507,ILLINOIS DISTRICT OFFICE,PPP,"CDM FIELD SERVICES, INC.",...,N,NaN,NaN,1%,25014.36,NaN,"328 S. JEFFERSON ST Suite 620, CHICAGO, IL",41.877338,-87.642340,1.703128e+14
40813,968539,9959917204,IND99SS00LR4JR7BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,507,ILLINOIS DISTRICT OFFICE,PPP,"LANCASTER MANOR REHABILITATION, LLC",...,N,2147042.03,6/18/21,1%,21232.50,NaN,"2201 MAIN ST, EVANSTON, IL",42.034420,-87.703857,1.703181e+14
40814,968548,2783337701,IND99SS00LR4JR8BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,HRHC DELAWARE LLC,...,N,NaN,NaN,1%,21856.67,NaN,"230 N MICHIGAN AVE, CHICAGO, IL",41.886573,-87.624902,1.703132e+14

In [6]:
il_hpgf.loc[il_hpgf["Lat"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, LoanNumber, HASHcodePM, Industry, IndustrySubsector, DateApproved, SBAOfficeCode, SBAOfficeLabel, ProcessingMethod, BorrowerName, BorrowerState, LoanStatusDate, LoanStatus, Term, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, CD, JobsReported, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, BusinessType, BusinessAgeDescription, NonProfit, ForgivenessAmount, ForgivenessDate, Estimated_LenderPercent, Estimated_LenderProfit, LongName, full_add, Lat, Long, FIPS_z]
Index: []

[0 rows x 37 columns]

In [7]:
il_hpgf["FIPSstate"] = il_hpgf["FIPS_z"].astype(str).str[:2]
il_hpgf["FIPScounty"] = il_hpgf["FIPS_z"].astype(str).str[:5]
il_hpgf["FIPSplaces"] = il_hpgf["FIPS_z"].astype(str).str[:10]
il_hpgf["FIPStract"] = il_hpgf["FIPS_z"].astype(str).str[:11]
il_hpgf["FIPSblockgroup"] = il_hpgf["FIPS_z"].astype(str).str[:12]
il_hpgf["FIPSblock"] = il_hpgf["FIPS_z"].astype(str).str[:15]

<h4>Point Pairing

In [8]:
from geopandas import GeoDataFrame
from shapely.geometry import Point
geometry = [Point(xy) for xy in zip(il_hpgf.Long, il_hpgf.Lat)]
il_hpgf = il_hpgf.drop(['Long', 'Lat'], axis=1)
gdf = GeoDataFrame(il_hpgf, crs="EPSG:4326", geometry=geometry)
gdf

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,...,LongName,full_add,FIPS_z,FIPSstate,FIPScounty,FIPSplaces,FIPStract,FIPSblockgroup,FIPSblock,geometry
0,7,2366557707,IND00SS00LR1JR1BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,AQUA RENTAL INC,...,NaN,"1916 W CERMAK RD FL 2, CHICAGO, IL",1.703131e+14,17,17031,1703131090,17031310900,170313109002,170313109002008,POINT (-87.67412 41.8523821)
1,33,1719447700,IND00SS00LR1JR1BT02BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"SHIP.CARS USA, LLC",...,NaN,"1515 East Woodfield Road Suite 770, SCHAUMBURG...",1.703180e+14,17,17031,1703180460,17031804603,170318046033,170318046033038,POINT (-88.042925 42.0411014)
2,58,7005677705,IND00SS00LR1JR1BT03BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,PATHINSIGHTS INC,...,NaN,"2777 Finley road #10, Downers grove, IL",1.704384e+14,17,17043,1704384431,17043844310,170438443101,170438443101007,POINT (-88.0254192 41.8384448)
3,98,7707357708,IND00SS00LR1JR1BT03BA3PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,INSTITUTE FOR HUMAN REPRO IHR,...,NaN,"409 W. HURON ST., CHICAGO, IL",1.703108e+14,17,17031,1703108180,17031081800,170310818003,170310818003006,POINT (-87.63903289999998 41.8944909)
4,152,3222797704,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,MON PRIDE EXPRESS INC,...,NaN,"921 BRENDON DR, SCHAUMBURG, IL",1.703180e+14,17,17031,1703180471,17031804712,170318047121,170318047121008,POINT (-88.136726 42.0425058)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40810,968444,2060067710,IND99SS00LR3JR5BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,"QSRSOFT, LLC",...,NaN,"1806 S Highland Ave Ste 200, Lombard, IL",1.704384e+14,17,17043,1704384431,17043844310,170438443102,170438443102005,POINT (-88.01261190000002 41.8496169)
40811,968530,5268517009,IND99SS00LR4JR6BT02BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/5/20,507,ILLINOIS DISTRICT OFFICE,PPP,"ROA MANAGEMENT, LLC",...,NaN,"181 W MADISON ST Suite 4700, CHICAGO, IL",1.703184e+14,17,17031,1703183910,17031839100,170318391001,170318391001067,POINT (-87.63336799999998 41.8816217)
40812,968533,2267327103,IND99SS00LR4JR7BT01BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/10/20,507,ILLINOIS DISTRICT OFFICE,PPP,"CDM FIELD SERVICES, INC.",...,NaN,"328 S. JEFFERSON ST Suite 620, CHICAGO, IL",1.703128e+14,17,17031,1703128190,17031281900,170312819001,170312819001007,POINT (-87.64233969999999 41.87733840000001)
40813,968539,9959917204,IND99SS00LR4JR7BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,507,ILLINOIS DISTRICT OFFICE,PPP,"LANCASTER MANOR REHABILITATION, LLC",...,NaN,"2201 MAIN ST, EVANSTON, IL",1.703181e+14,17,17031,1703180970,17031809700,170318097002,170318097002025,POINT (-87.7038572 42.0344196)
40814,968548,2783337701,IND99SS00LR4JR8BT02BA1PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,507,ILLINOIS DISTRICT OFFICE,PPP,HRHC DELAWARE LLC,...,NaN,"230 N MICHIGAN AVE, CHICAGO, IL",1.703132e+14,17,17031,1703132010,17031320102,170313201021,170313201021018,POINT (-87.62490199999998 41.8865731)

In [9]:
listbusiness =gdf["BusinessType"].value_counts()
listbusiness

Corporation                            17601
Subchapter S Corporation                9823
Limited Liability Company(LLC)          9127
Non-Profit Organization                 2461
Partnership                              463
Limited Liability Partnership            317
Sole Proprietorship                      315
Professional Association                 174
Not Available                            121
Cooperative                              100
501(c)3 – Non Profit                      98
501(c)6 – Non Profit Membership           64
Non-Profit Childcare Center               39
Employee Stock Ownership Plan(ESOP)       26
Trust                                     21
Tenant in Common                           9
Self-Employed Individuals                  9
Independent Contractors                    6
Joint Venture                              4
Single Member LLC                          1
Name: BusinessType, dtype: int64

<h4>Writing State Points File

In [10]:
with open('../data/state_data/geo/state_agg/IL_gpd/il_gdf_fips_point.json', 'w') as f:
    f.write(gdf.to_json())

In [11]:
il_hpgf.dtypes

Unnamed: 0                       int64
LoanNumber                       int64
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
DateApproved                    object
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
FIPS_z                         float64
FIPSstate                       object
FIPScounty                      object
FIPSplaces                      object
FIPStract                       object
FIPSblockgroup                  object
FIPSblock                       object
geometry                        object
dtype: object

In [12]:
il_hpgf.loc[il_hpgf["FIPSblockgroup"] == "170899000000"]

Empty DataFrame
Columns: [Unnamed: 0, LoanNumber, HASHcodePM, Industry, IndustrySubsector, DateApproved, SBAOfficeCode, SBAOfficeLabel, ProcessingMethod, BorrowerName, BorrowerState, LoanStatusDate, LoanStatus, Term, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, CD, JobsReported, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, BusinessType, BusinessAgeDescription, NonProfit, ForgivenessAmount, ForgivenessDate, Estimated_LenderPercent, Estimated_LenderProfit, LongName, full_add, FIPS_z, FIPSstate, FIPScounty, FIPSplaces, FIPStract, FIPSblockgroup, FIPSblock, geometry]
Index: []

[0 rows x 42 columns]

<b>State Aggregation

In [13]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [14]:
il_hpgf_state = il_hpgf.groupby(['FIPSstate'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum','ForgivenessAmount':'sum'})
il_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']] = il_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']].astype(float) # object > float
il_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']] = il_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit']].apply(lambda x: round(x, 2)) #format
il_hpgf_state

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,17,40779,23176967510.95,2129560.00,805,693004835.39,18712160603.26

<h4>County Aggregation

In [15]:
il_hpgf_cnty = il_hpgf.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
il_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float)#float
il_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) # format
il_hpgf_cnty.head()#132

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,17001,189,98841688.21,10755.00,23,2970546.66,85664338.81
1,17003,4,1903647.00,174.00,2,68221.41,1919880.84
2,17005,15,11559411.23,1528.00,6,314553.36,8679006.74
3,17007,82,43422639.56,4148.00,25,1386316.22,37623267.85
4,17009,6,3585360.82,407.00,4,121205.06,3258489.73

In [16]:
#NonProfit Reporting
pd.set_option('display.max_columns', None)
nonprofit = il_hpgf.loc[il_hpgf["NonProfit"] == "Y"]
nonprofit #1536

il_hpgf_cnty_nonprofit = nonprofit.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
il_hpgf_cnty_nonprofit["NonProfitLoans"] = il_hpgf_cnty_nonprofit.LoanNumber
il_hpgf_cnty_nonprofit["NonProfitApprovalAmount"] = il_hpgf_cnty_nonprofit.CurrentApprovalAmount
il_hpgf_cnty_nonprofit["NonProfitJobsReported"] = il_hpgf_cnty_nonprofit.JobsReported
il_hpgf_cnty_nonprofit["NonProfitLenderProfit"] = il_hpgf_cnty_nonprofit.Estimated_LenderProfit
cols = ['FIPScounty', 'NonProfitLoans', 'NonProfitApprovalAmount', 'NonProfitJobsReported', 'NonProfitLenderProfit']
il_hpgf_cnty_nonprofit = il_hpgf_cnty_nonprofit[cols]
il_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = il_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].apply(lambda x: round(x, 2)) #format
#il_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = il_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].astype(float) # object > float
il_hpgf_cnty_nonprofit

,FIPScounty,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,17001,16,8599929.55,1596.00,259784.90
1,17003,1,153700.00,25.00,7685.00
2,17005,3,4639832.37,594.00,93413.82
3,17007,3,592513.45,117.00,29625.67
4,17009,1,552452.00,95.00,16573.56
...,...,...,...,...,...
80,17195,12,6888201.32,924.00,241114.48
81,17197,68,41669208.81,5625.00,1244322.71
82,17199,6,1991575.00,392.00,84578.75
83,17201,61,34481731.28,4627.00,1005135.85
84,17203,5,4823557.00,908.00,149414.71

<h4>Block Group Aggregation

In [17]:
il_hpgf_blockgroup = il_hpgf.groupby(['FIPScounty','FIPSblockgroup'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
il_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) #format
il_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) # object > float
il_hpgf_blockgroup.head() #3624- out of 5963 from shpfile

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,17001,170010001001,12,16819324.67,1285.00,7,281430.23,9616747.03
1,17001,170010001002,3,1581519.57,172.00,2,53893.62,1592133.93
2,17001,170010001003,1,152064.60,11.00,1,7603.23,152917.85
3,17001,170010001004,6,3240888.36,438.00,3,115519.17,2988997.85
4,17001,170010001005,11,3249571.82,508.00,6,139572.19,3030753.43

In [18]:
#pd.set_option('display.max_rows', None)
#lmi_bg = md_hpgf.groupby(['FIPScounty','FIPSblockgroup','LMIIndicator']).agg({"LoanNumber" : "count"})
#lmi_bg.head()

<b>Block Aggregation

In [19]:
il_hpgf_block = il_hpgf.groupby(['FIPScounty','FIPSblockgroup', 'FIPSblock'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
il_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
il_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = il_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
il_hpgf_block.head() #8578

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,17001,170010001001,170010001001003,1,367100.00,33.00,1,11013.00,369159.84
1,17001,170010001001,170010001001008,1,326557.50,31.00,1,16327.88,329456.26
2,17001,170010001001,170010001001018,1,207509.67,12.00,1,10375.48,208230.19
3,17001,170010001001,170010001001021,1,326557.50,31.00,1,16327.88,328266.34
4,17001,170010001001,170010001001029,7,15064400.00,1130.00,4,211570.00,7850421.82

idea:pairing points before aggregation <br>
idea:reduce file size

<b>State Point Pairing

In [20]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_state = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_state/tl_2021_us_state.shp")
gpd_path_state = gpd_path_state.loc[gpd_path_state["STATEFP"]== "17"] #Illinois
gpd_path_state['FIPSstate'] = gpd_path_state.GEOID
gpd_path_state

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSstate
2,2,3,17,01779784,17,IL,Illinois,00,G4000,A,143778561906,6216493488,+40.1028754,-089.1526108,"POLYGON ((-89.132915 36.982057, -89.1415619999...",17

In [21]:
cols = ["FIPSstate", "NAME", "geometry"]
gpd_path_state_parsed = gpd_path_state[cols]
gpd_path_state_parsed

  FIPSstate      NAME                                           geometry
2        17  Illinois  POLYGON ((-89.132915 36.982057, -89.1415619999...

<b>State Choropleth

In [22]:
gpd_state_merge = il_hpgf_state.merge(gpd_path_state_parsed, on="FIPSstate", how="left")
gpd_state_merge

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,17,40779,23176967510.95,2129560.00,805,693004835.39,18712160603.26,Illinois,"POLYGON ((-89.132915 36.982057, -89.1415619999..."

<b>State GeoDataFrame JSON conversion

In [23]:
from geopandas import GeoDataFrame
gpd_state_merge = GeoDataFrame(gpd_state_merge)

with open('../data/state_data/geo/state_agg/IL_gpd/il_gpd_state_merge.json', 'w') as f:
    f.write(gpd_state_merge.to_json())

<h4>County Point Pairing

In [24]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_county = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_county/tl_2021_us_county.shp")
gpd_path_county = gpd_path_county.loc[gpd_path_county["STATEFP"]== "17"] #Illinois
gpd_path_county['FIPScounty'] = gpd_path_county.GEOID
gpd_path_county.head() #133

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPScounty
85,17,067,00424235,17067,Hancock,Hancock County,06,H1,G4020,161,22800,None,A,2055798695,53563360,+40.4013180,-091.1688008,"POLYGON ((-90.90421600000001 40.639201, -90.90...",17067
92,17,025,00424214,17025,Clay,Clay County,06,H1,G4020,None,None,None,A,1213023039,3064499,+38.7468187,-088.4823254,"POLYGON ((-88.258583 38.847529, -88.2583889999...",17025
131,17,185,00424293,17185,Wabash,Wabash County,06,H1,G4020,None,None,None,A,578403995,10973569,+38.4458209,-087.8391674,"POLYGON ((-87.987911 38.256957, -87.9903829999...",17185
148,17,113,01784833,17113,McLean,McLean County,06,H1,G4020,145,14010,None,A,3064597291,7804856,+40.4945594,-088.8445391,"POLYGON ((-89.148764 40.282038, -89.1487719999...",17113
158,17,005,00424204,17005,Bond,Bond County,06,H1,G4020,476,41180,None,A,985065094,6462629,+38.8859240,-089.4365916,"POLYGON ((-89.59732099999999 38.743236, -89.59...",17005

In [25]:
cols = ["FIPScounty", "NAME", "geometry"]
gpd_path_county_parsed = gpd_path_county[cols]
gpd_path_county_parsed

     FIPScounty       NAME                                           geometry
85        17067    Hancock  POLYGON ((-90.90421600000001 40.639201, -90.90...
92        17025       Clay  POLYGON ((-88.258583 38.847529, -88.2583889999...
131       17185     Wabash  POLYGON ((-87.987911 38.256957, -87.9903829999...
148       17113     McLean  POLYGON ((-89.148764 40.282038, -89.1487719999...
158       17005       Bond  POLYGON ((-89.59732099999999 38.743236, -89.59...
...         ...        ...                                                ...
2900      17111    McHenry  POLYGON ((-88.588657 42.15359, -88.61770300000...
2921      17015    Carroll  POLYGON ((-90.15197999999999 41.928917, -90.15...
2988      17047    Edwards  POLYGON ((-87.990628 38.259629, -88.027677 38....
2997      17071  Henderson  POLYGON ((-90.90421600000001 40.639201, -90.91...
3091      17077    Jackson  POLYGON ((-89.521564 37.572156, -89.5212740000...

[102 rows x 3 columns]

<h4>County Choropleth DataFrame

In [26]:
#for blockgroup pairing
cols = ["FIPScounty", "NAME"]
gpd_path_county_parsed_bg = gpd_path_county[cols]
gpd_path_county_parsed_bg.head()

    FIPScounty     NAME
85       17067  Hancock
92       17025     Clay
131      17185   Wabash
148      17113   McLean
158      17005     Bond

In [27]:
gpd_county_merge = il_hpgf_cnty.merge(gpd_path_county_parsed, on="FIPScounty", how="left")
gpd_county_merge.head()

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,17001,189,98841688.21,10755.00,23,2970546.66,85664338.81,Adams,"POLYGON ((-90.911969 40.193088, -90.912372 40...."
1,17003,4,1903647.00,174.00,2,68221.41,1919880.84,Alexander,"POLYGON ((-89.17208100000001 37.06831, -89.173..."
2,17005,15,11559411.23,1528.00,6,314553.36,8679006.74,Bond,"POLYGON ((-89.59732099999999 38.743236, -89.59..."
3,17007,82,43422639.56,4148.00,25,1386316.22,37623267.85,Boone,"POLYGON ((-88.705585 42.153537, -88.725185 42...."
4,17009,6,3585360.82,407.00,4,121205.06,3258489.73,Brown,"POLYGON ((-90.583534 39.87675, -90.5849 39.875..."

In [28]:
#County NonProfit merge 
gpd_county_merge = gpd_county_merge.merge(il_hpgf_cnty_nonprofit, on = "FIPScounty", how="left")
gpd_county_merge

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,17001,189,98841688.21,10755.00,23,2970546.66,85664338.81,Adams,"POLYGON ((-90.911969 40.193088, -90.912372 40....",16.00,8599929.55,1596.00,259784.90
1,17003,4,1903647.00,174.00,2,68221.41,1919880.84,Alexander,"POLYGON ((-89.17208100000001 37.06831, -89.173...",1.00,153700.00,25.00,7685.00
2,17005,15,11559411.23,1528.00,6,314553.36,8679006.74,Bond,"POLYGON ((-89.59732099999999 38.743236, -89.59...",3.00,4639832.37,594.00,93413.82
3,17007,82,43422639.56,4148.00,25,1386316.22,37623267.85,Boone,"POLYGON ((-88.705585 42.153537, -88.725185 42....",3.00,592513.45,117.00,29625.67
4,17009,6,3585360.82,407.00,4,121205.06,3258489.73,Brown,"POLYGON ((-90.583534 39.87675, -90.5849 39.875...",1.00,552452.00,95.00,16573.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,17195,118,57740179.32,5849.00,33,1986417.83,52430191.88,Whiteside,"POLYGON ((-89.862351 41.584005, -89.882149 41....",12.00,6888201.32,924.00,241114.48
98,17197,1975,996169950.17,92733.00,160,31654810.96,838498466.71,Will,"POLYGON ((-87.526731 41.298052, -87.543971 41....",68.00,41669208.81,5625.00,1244322.71
99,17199,159,72674813.55,7420.00,33,2266383.51,67615680.48,Williamson,"POLYGON ((-89.04140099999999 37.596576, -89.06...",6.00,1991575.00,392.00,84578.75
100,17201,911,480069316.79,50083.00,80,14648452.82,399750687.22,Winnebago,"POLYGON ((-88.940388 42.495045, -88.940484 42....",61.00,34481731.28,4627.00,1005135.85
101,17203,81,51878054.41,4786.00,20,1419852.98,45845785.03,Woodford,"POLYGON ((-89.269397 40.594318, -89.269638 40....",5.00,4823557.00,908.00,149414.71

In [29]:
#gpd_county_merge["LoanAmountperJob"] = gpd_county_merge["CurrentApprovalAmount"]//gpd_county_merge["JobsReported"]
null_cnty = gpd_county_merge.loc[gpd_county_merge["NAME"].isnull()]
null_cnty["FIPScounty"].tolist() #to correct

[]

In [30]:
gpd_county_merge.to_csv('../data/state_data/geo/state_agg/IL_gpd/il_gpd_county_merge.csv')

<h4>County GeoDataFrame JSON conversion

In [31]:
from geopandas import GeoDataFrame
gpd_county_merge = GeoDataFrame(gpd_county_merge)

with open('../data/state_data/geo/state_agg/IL_gpd/il_gpd_county_merge.json', 'w') as f:
    f.write(gpd_county_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Group Point Pairing

In [32]:
gpd_path_blockgroup = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_blockgroup/tl_2021_17_bg/tl_2021_17_bg.shp")
gpd_path_blockgroup['FIPSblockgroup'] = gpd_path_blockgroup.GEOID
gpd_path_blockgroup

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSblockgroup
0,17,083,010300,2,170830103002,Block Group 2,G5030,S,58620148,53532,+39.0175415,-090.3091297,"POLYGON ((-90.37003199999999 39.049051, -90.36...",170830103002
1,17,031,834400,1,170318344001,Block Group 1,G5030,S,143065,0,+41.7786780,-087.5982873,"POLYGON ((-87.600459 41.780475, -87.596204 41....",170318344001
2,17,031,834400,3,170318344003,Block Group 3,G5030,S,163630,0,+41.7750339,-087.5985089,"POLYGON ((-87.600983 41.77683, -87.600374 41.7...",170318344003
3,17,031,843900,2,170318439002,Block Group 2,G5030,S,162794,0,+41.7747748,-087.5898578,"POLYGON ((-87.5917 41.776918, -87.588886 41.77...",170318439002
4,17,031,421200,1,170314212001,Block Group 1,G5030,S,146529,0,+41.7721656,-087.6100793,"POLYGON ((-87.613045 41.773012, -87.60941 41.7...",170314212001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9893,17,031,560900,2,170315609002,Block Group 2,G5030,S,166125,0,+41.7959334,-087.7867996,"POLYGON ((-87.788128 41.799602, -87.785689 41....",170315609002
9894,17,031,691000,4,170316910004,Block Group 4,G5030,S,162375,0,+41.7637414,-087.6224540,"POLYGON ((-87.62490699999999 41.765514, -87.62...",170316910004
9895,17,091,011300,3,170910113003,Block Group 3,G5030,S,3073563,173495,+41.0872336,-087.7983532,"POLYGON ((-87.781491 41.092574, -87.786343 41....",170910113003
9896,17,183,010701,1,171830107011,Block Group 1,G5030,S,854143,0,+40.0960502,-087.6380202,"POLYGON ((-87.64306999999999 40.10169, -87.641...",171830107011
9897,17,045,070300,1,170450703001,Block Group 1,G5030,S,1151913,0,+39.6200737,-087.6820842,"POLYGON ((-87.698212 39.621837, -87.68997 39.6...",170450703001

In [33]:
cols = ["FIPSblockgroup", "NAMELSAD", "geometry"]
gpd_path_blockgroup_parsed = gpd_path_blockgroup[cols]
gpd_path_blockgroup_parsed.head() #5963

,FIPSblockgroup,NAMELSAD,geometry
0,170830103002,Block Group 2,"POLYGON ((-90.37003199999999 39.049051, -90.36..."
1,170318344001,Block Group 1,"POLYGON ((-87.600459 41.780475, -87.596204 41...."
2,170318344003,Block Group 3,"POLYGON ((-87.600983 41.77683, -87.600374 41.7..."
3,170318439002,Block Group 2,"POLYGON ((-87.5917 41.776918, -87.588886 41.77..."
4,170314212001,Block Group 1,"POLYGON ((-87.613045 41.773012, -87.60941 41.7..."

In [34]:
#parsed for block pairing
cols=["FIPSblockgroup", "NAMELSAD"]
gpd_path_blockgroup_parsed_bg = gpd_path_blockgroup_parsed[cols]
gpd_path_blockgroup_parsed_bg.head()

  FIPSblockgroup       NAMELSAD
0   170830103002  Block Group 2
1   170318344001  Block Group 1
2   170318344003  Block Group 3
3   170318439002  Block Group 2
4   170314212001  Block Group 1

<h4>Block Group Choropleth DataFrame

In [35]:
#merge Blockgroup information 
gpd_blockgroup_merge = il_hpgf_blockgroup.merge(gpd_path_blockgroup_parsed, on="FIPSblockgroup", how="left")

#merge County Information 
gpd_blockgroup_merge = gpd_blockgroup_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_blockgroup_merge.head()

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAMELSAD,geometry,NAME
0,17001,170010001001,12,16819324.67,1285.00,7,281430.23,9616747.03,Block Group 1,"POLYGON ((-91.377332 39.965109, -91.375998 39....",Adams
1,17001,170010001002,3,1581519.57,172.00,2,53893.62,1592133.93,Block Group 2,"POLYGON ((-91.36770799999999 39.940271, -91.36...",Adams
2,17001,170010001003,1,152064.60,11.00,1,7603.23,152917.85,Block Group 3,"POLYGON ((-91.377595 39.946645, -91.3775470000...",Adams
3,17001,170010001004,6,3240888.36,438.00,3,115519.17,2988997.85,Block Group 4,"POLYGON ((-91.37765400000001 39.940376, -91.36...",Adams
4,17001,170010001005,11,3249571.82,508.00,6,139572.19,3030753.43,Block Group 5,"POLYGON ((-91.358203 39.939129, -91.35754 39.9...",Adams

In [37]:
gpd_blockgroup_merge.loc[gpd_blockgroup_merge["NAMELSAD"].isnull()]

Empty DataFrame
Columns: [FIPScounty, FIPSblockgroup, LoanNumber, CurrentApprovalAmount, JobsReported, ServicingLenderLocationID, Estimated_LenderProfit, ForgivenessAmount, NAMELSAD, geometry, NAME]
Index: []

In [40]:
gpd_blockgroup_merge.to_csv("../data/state_data/geo/state_agg/IL_gpd/il_gpd_blockgroup_merge.csv")

<h4>Block Group GeoDataFrame JSON Conversion

In [41]:
gpd_blockgroup_merge = GeoDataFrame(gpd_blockgroup_merge)

with open('../data/state_data/geo/state_agg/IL_gpd/il_gpd_blockgroup_merge.json', 'w') as f:
    f.write(gpd_blockgroup_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Point Pairing

In [42]:
gpd_path_block = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_block/tl_2021_17_tabblock20/tl_2021_17_tabblock20.shp")
gpd_path_block['FIPSblock'] = gpd_path_block.GEOID20
gpd_path_block.head() #163491

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry,FIPSblock
0,17,169,970100,2104,171699701002104,Block 2104,G5040,R,None,None,S,3669538,0,+40.1309011,-090.6038663,"POLYGON ((-90.59519299999999 40.144392, -90.59...",171699701002104
1,17,169,970100,2124,171699701002124,Block 2124,G5040,R,None,None,S,758164,0,+40.1232038,-090.5980559,"POLYGON ((-90.596501 40.128145, -90.5951210000...",171699701002124
2,17,169,970200,2030,171699702002030,Block 2030,G5040,R,None,None,S,9692,0,+40.1234691,-090.5697596,"POLYGON ((-90.57034899999999 40.123336, -90.57...",171699702002030
3,17,169,970100,1098,171699701001098,Block 1098,G5040,R,None,None,S,4297,0,+40.1790079,-090.8060421,"POLYGON ((-90.804524 40.178869, -90.806809 40....",171699701001098
4,17,169,970100,2199,171699701002199,Block 2199,G5040,R,None,None,S,1923285,0,+40.2384717,-090.6642980,"POLYGON ((-90.678387 40.23955, -90.678044 40.2...",171699701002199

In [43]:
cols = ["FIPSblock", "NAME20", "geometry"]
gpd_path_block_parsed = gpd_path_block[cols]
gpd_path_block_parsed.head() #83827

,FIPSblock,NAME20,geometry
0,171699701002104,Block 2104,"POLYGON ((-90.59519299999999 40.144392, -90.59..."
1,171699701002124,Block 2124,"POLYGON ((-90.596501 40.128145, -90.5951210000..."
2,171699702002030,Block 2030,"POLYGON ((-90.57034899999999 40.123336, -90.57..."
3,171699701001098,Block 1098,"POLYGON ((-90.804524 40.178869, -90.806809 40...."
4,171699701002199,Block 2199,"POLYGON ((-90.678387 40.23955, -90.678044 40.2..."

<h4>Block Choropleth DataFrame

In [44]:
#merge Block information 
gpd_block_merge = il_hpgf_block.merge(gpd_path_block_parsed, on="FIPSblock", how="left")

#merge BlockGroup Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_blockgroup_parsed_bg, on="FIPSblockgroup", how="left")
#merge County Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_block_merge #6402

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME20,geometry,NAMELSAD,NAME
0,17001,170010001001,170010001001003,1,367100.00,33.00,1,11013.00,369159.84,Block 1003,"POLYGON ((-91.36716 39.95759, -91.363301000000...",Block Group 1,Adams
1,17001,170010001001,170010001001008,1,326557.50,31.00,1,16327.88,329456.26,Block 1008,"POLYGON ((-91.377404 39.960643, -91.374469 39....",Block Group 1,Adams
2,17001,170010001001,170010001001018,1,207509.67,12.00,1,10375.48,208230.19,Block 1018,"POLYGON ((-91.377476 39.95575, -91.376369 39.9...",Block Group 1,Adams
3,17001,170010001001,170010001001021,1,326557.50,31.00,1,16327.88,328266.34,Block 1021,"POLYGON ((-91.377478 39.955623, -91.3746600000...",Block Group 1,Adams
4,17001,170010001001,170010001001029,7,15064400.00,1130.00,4,211570.00,7850421.82,Block 1029,"POLYGON ((-91.358043 39.957184, -91.3548750000...",Block Group 1,Adams
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15423,17203,172030307001,172030307001029,1,269697.50,21.00,1,13484.88,272491.87,Block 1029,"POLYGON ((-89.044213 40.736635, -89.034594 40....",Block Group 1,Woodford
15424,17203,172030307001,172030307001043,2,334200.00,24.00,1,16710.00,337398.11,Block 1043,"POLYGON ((-89.006668 40.672337, -89.0059470000...",Block Group 1,Woodford
15425,17203,172030307003,172030307003179,1,211300.00,21.00,1,10565.00,213812.44,Block 3179,"POLYGON ((-89.01575 40.738129, -89.011218 40.7...",Block Group 3,Woodford
15426,17203,172030307003,172030307003180,1,544200.00,47.00,1,16326.00,550911.80,Block 3180,"POLYGON ((-89.011218 40.738287, -89.005723 40....",Block Group 3,Woodford
15427,17203,172030307003,172030307003204,1,333100.00,50.00,1,16655.00,337106.45,Block 3204,"POLYGON ((-89.02479599999999 40.735955, -89.02...",Block Group 3,Woodford

In [45]:
gpd_block_merge.loc[gpd_block_merge["NAME20"].isnull()]

Empty DataFrame
Columns: [FIPScounty, FIPSblockgroup, FIPSblock, LoanNumber, CurrentApprovalAmount, JobsReported, ServicingLenderLocationID, Estimated_LenderProfit, ForgivenessAmount, NAME20, geometry, NAMELSAD, NAME]
Index: []

In [47]:
gpd_block_merge.to_csv("../data/state_data/geo/state_agg/IL_gpd/il_gpd_block_merge.csv")

<h4>Block GeoDataFrame JSON Conversion

In [41]:
gpd_block_merge = GeoDataFrame(gpd_block_merge)

with open('../data/state_data/geo/state_agg/IL_gpd/il_gpd_block_merge.json', 'w') as f:
    f.write(gpd_block_merge.to_json()) #export used in untitled static data folder for county choro preview