In [1]:
import pandas as pd
import numpy as np

import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

import json

In [2]:
csv_reader = pd.read_csv("../data/state_data/hash_states/hpgf_va.csv") 
va_hpgf = pd.DataFrame(csv_reader)

In [3]:
pd.set_option('display.max_columns', None)
#va_hpgf = va_hpgf.drop(["Unnamed: 0", "Unnamed: 0.1", "Unnamed: 0.1.1"], axis =1)
va_hpgf.head() #23268

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
0,255,5949837104,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,4/14/20,353,WASHINGTON DISTRICT OFFICE,PPP,CLEVER SYS. INC.,VA,7/16/21,Paid in Full,24,275900.0,0.0,NaN,49274,"Citibank, N.A.",VA-11,8.0,49274,"Citibank, N.A.",SIOUX FALLS,SD,Corporation,Existing or more than 2 years old,N,279126.50,6/28/21,5%,13795.00,NaN,"11425 Isaac Newton Square S. Suite 202, RESTON...",38.952005,-77.337961,5.105948e+14
1,256,4117137708,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,INTEGRITY UNITED TECHNOLOGIES L.L.C.-SBA SMALL...,VA,7/23/21,Paid in Full,24,246000.0,0.0,NaN,29805,"TD Bank, National Association",VA-10,7.0,29805,"TD Bank, National Association",WILMINGTON,DE,Corporation,Existing or more than 2 years old,N,248733.33,6/11/21,5%,12300.00,NaN,"8607 Chase Glen Circle, Fairfax Station, VA",38.723299,-77.276231,5.105949e+14
2,492,6971837704,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,304,RICHMOND DISTRICT OFFICE,PPP,ITHRIVE GAMES FOUNDATION,VA,4/16/21,Paid in Full,24,152887.0,0.0,NaN,9551,"Bank of America, National Association",VA-03,8.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Non-Profit Organization,New Business or 2 years or less,Y,154181.30,3/10/21,5%,7644.35,NaN,"101 W MAIN ST STE 700, NORFOLK, VA",36.846140,-76.293138,5.171000e+14
3,503,4966857706,IND00SS00LR1JR2BT07BA2PPP,Not Available,Not Available,5/1/20,304,RICHMOND DISTRICT OFFICE,PPP,ARAM AFSAHI DDS PC,VA,NaN,Exemption 4,24,150000.0,0.0,NaN,9551,"Bank of America, National Association",VA-07,6.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Sole Proprietorship,New Business or 2 years or less,N,40400.97,5/27/21,5%,7500.00,NaN,"4300 PLANK RD STE 230, FREDERICKSBURG, VA",38.288216,-77.536439,5.117702e+14
4,1205,4317957701,IND00SS00LR1JR3BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,INPHASE RESEARCH CORP-SBA SMALL 7A TERM,VA,7/23/21,Paid in Full,24,331637.0,0.0,NaN,29805,"TD Bank, National Association",VA-11,11.0,29805,"TD Bank, National Association",WILMINGTON,DE,Corporation,Existing or more than 2 years old,N,NaN,NaN,5%,16581.85,NaN,"11351 Random Hills Rd Suite 300, Fairfax, VA",38.856965,-77.339306,5.105946e+14

In [4]:
va_hpgf.loc[va_hpgf["FIPS_z"].isnull()].head() #13 values, wait for verification, map frame for FIPS avaliable

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,Lat,Long,FIPS_z
2826,135993,9453327109,IND23SS83LR1JR4BT01BA1PPP,Construction,2383 Building Finishing Contractors,4/15/20,304,RICHMOND DISTRICT OFFICE,PPP,"KBF RENOVATIONS, INC - original address cited ...",VA,7/21/21,Paid in Full,24,343000.00,0.0,NaN,117723,"South State Bank, National Association",VA-04,39.0,117723,"South State Bank, National Association",WINTER HAVEN,FL,Corporation,Existing or more than 2 years old,N,346934.97,6/17/21,5%,17150.0000,Drywall and Insulation Contractors,"5518 West Linebaugh Avenue, CHESTER, VA",28.039440,-82.536945,NaN
3976,195497,7756097001,IND32SS73LR1JR4BT01BA1PPP,Manufacturing,3273 Cement and Concrete Product Manufacturing,4/8/20,304,RICHMOND DISTRICT OFFICE,PPP,"T&W BLOCK CO., INC",VA,8/3/21,Paid in Full,24,193482.05,0.0,NaN,30471,Calvin B. Taylor Banking Company,VA-02,24.0,30471,Calvin B. Taylor Banking Company,BERLIN,MD,Corporation,Existing or more than 2 years old,N,195978.76,7/29/21,5%,9674.1025,Concrete Block and Brick Manufacturing,"21075 Washington St PO Box 487, ONLEY, VA",39.211209,-76.745195,NaN
5754,319461,3594887305,IND44SS11LR2JR4BT02BA1PPP,Retail Trade,4411 Automobile Dealers,4/29/20,304,RICHMOND DISTRICT OFFICE,PPP,"DOVELL AND WILLIAMS, LLC",VA,5/13/21,Paid in Full,24,670022.00,0.0,NaN,122517,Atlantic Union Bank,VA-04,36.0,122517,Atlantic Union Bank,RICHMOND,VA,Limited Liability Company(LLC),Existing or more than 2 years old,N,676052.20,4/1/21,3%,20100.6600,New Car Dealers,"1120 Crain Highway North, Chesapeake, VA",39.181778,-76.615519,NaN
8439,447361,3320167707,IND53SS12LR3JR4BT01BA1PPP,Real Estate and Rental and Leasing,5312 Offices of Real Estate Agents and Brokers,5/1/20,304,RICHMOND DISTRICT OFFICE,PPP,BROADCAST MANAGEMENT GROUP,VA,NaN,Exemption 4,24,1018873.00,0.0,NaN,29805,"TD Bank, National Association",DC-,49.0,29805,"TD Bank, National Association",WILMINGTON,DE,Corporation,Existing or more than 2 years old,N,NaN,NaN,3%,30566.1900,Offices of Real Estate Agents and Brokers,"777 6th Street NW, WASHINGTON, VA",38.899370,-77.019590,NaN
10708,526702,9682888407,IND54SS15LR2JR3BT02BA1PPS,"Professional, Scientific, and Technical Services",5415 Computer Systems Design and Related Services,2/17/21,304,RICHMOND DISTRICT OFFICE,PPS,ESTATESPACE LLC,VA,NaN,Exemption 4,60,414000.00,0.0,NaN,51009,First-Citizens Bank & Trust Company,VA-05,15.0,51009,First-Citizens Bank & Trust Company,Raleigh,NC,Limited Liability Company(LLC),Existing or more than 2 years old,N,NaN,NaN,3%,12420.0000,Custom Computer Programming Services,"995 RESEARCH BLVD, CHARLOTTESVILLE, VA",30.479120,-97.802932,NaN

In [5]:
va_hpgf["CurrentApprovalAmount"].sum() # 12,217,758,568.25 = 12B - Loans >150K
va_hpgf["LoanNumber"].count() #23255 #average 525,382

23266

In [6]:
va_hpgf = va_hpgf.loc[va_hpgf["FIPS_z"].notna()] #23255

In [7]:
va_hpgf.loc[va_hpgf["Lat"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, LoanNumber, HASHcodePM, Industry, IndustrySubsector, DateApproved, SBAOfficeCode, SBAOfficeLabel, ProcessingMethod, BorrowerName, BorrowerState, LoanStatusDate, LoanStatus, Term, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, CD, JobsReported, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, BusinessType, BusinessAgeDescription, NonProfit, ForgivenessAmount, ForgivenessDate, Estimated_LenderPercent, Estimated_LenderProfit, LongName, full_add, Lat, Long, FIPS_z]
Index: []

In [8]:
#from FIPS - GEOID, State, County, CT, BG, B
va_hpgf["FIPSstate"] = va_hpgf["FIPS_z"].astype(str).str[:2]
va_hpgf["FIPScounty"] = va_hpgf["FIPS_z"].astype(str).str[:5]
va_hpgf["FIPSplaces"] = va_hpgf["FIPS_z"].astype(str).str[:10]
va_hpgf["FIPStract"] = va_hpgf["FIPS_z"].astype(str).str[:11]
va_hpgf["FIPSblockgroup"] = va_hpgf["FIPS_z"].astype(str).str[:12]
va_hpgf["FIPSblock"] = va_hpgf["FIPS_z"].astype(str).str[:15]

In [9]:
va_hpgf.dtypes

Unnamed: 0                       int64
LoanNumber                       int64
HASHcodePM                      object
Industry                        object
IndustrySubsector               object
DateApproved                    object
SBAOfficeCode                    int64
SBAOfficeLabel                  object
ProcessingMethod                object
BorrowerName                    object
BorrowerState                   object
LoanStatusDate                  object
LoanStatus                      object
Term                             int64
CurrentApprovalAmount          float64
UndisbursedAmount              float64
FranchiseName                   object
ServicingLenderLocationID        int64
ServicingLenderName             object
CD                              object
JobsReported                   float64
OriginatingLenderLocationID      int64
OriginatingLender               object
OriginatingLenderCity           object
OriginatingLenderState          object
BusinessType                    object
BusinessAgeDescription          object
NonProfit                       object
ForgivenessAmount              float64
ForgivenessDate                 object
Estimated_LenderPercent         object
Estimated_LenderProfit         float64
LongName                        object
full_add                        object
Lat                            float64
Long                           float64
FIPS_z                         float64
FIPSstate                       object
FIPScounty                      object
FIPSplaces                      object
FIPStract                       object
FIPSblockgroup                  object
FIPSblock                       object
dtype: object

<h4>Point Pairing

In [10]:
from geopandas import GeoDataFrame
from shapely.geometry import Point
geometry = [Point(xy) for xy in zip(va_hpgf.Long, va_hpgf.Lat)]
va_hpgf = va_hpgf.drop(['Long', 'Lat'], axis=1)
gdf = GeoDataFrame(va_hpgf, crs="EPSG:4326", geometry=geometry)
gdf

,Unnamed: 0,LoanNumber,HASHcodePM,Industry,IndustrySubsector,DateApproved,SBAOfficeCode,SBAOfficeLabel,ProcessingMethod,BorrowerName,BorrowerState,LoanStatusDate,LoanStatus,Term,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,CD,JobsReported,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,BusinessType,BusinessAgeDescription,NonProfit,ForgivenessAmount,ForgivenessDate,Estimated_LenderPercent,Estimated_LenderProfit,LongName,full_add,FIPS_z,FIPSstate,FIPScounty,FIPSplaces,FIPStract,FIPSblockgroup,FIPSblock,geometry
0,255,5949837104,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,4/14/20,353,WASHINGTON DISTRICT OFFICE,PPP,CLEVER SYS. INC.,VA,7/16/21,Paid in Full,24,275900.0,0.0,NaN,49274,"Citibank, N.A.",VA-11,8.0,49274,"Citibank, N.A.",SIOUX FALLS,SD,Corporation,Existing or more than 2 years old,N,279126.50,6/28/21,5%,13795.00,NaN,"11425 Isaac Newton Square S. Suite 202, RESTON...",5.105948e+14,51,51059,5105948220,51059482205,510594822052,510594822052006,POINT (-77.33796120000002 38.9520046)
1,256,4117137708,IND00SS00LR1JR2BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,INTEGRITY UNITED TECHNOLOGIES L.L.C.-SBA SMALL...,VA,7/23/21,Paid in Full,24,246000.0,0.0,NaN,29805,"TD Bank, National Association",VA-10,7.0,29805,"TD Bank, National Association",WILMINGTON,DE,Corporation,Existing or more than 2 years old,N,248733.33,6/11/21,5%,12300.00,NaN,"8607 Chase Glen Circle, Fairfax Station, VA",5.105949e+14,51,51059,5105949220,51059492203,510594922032,510594922032004,POINT (-77.2762309 38.7232993)
2,492,6971837704,IND00SS00LR1JR2BT04BA2PPP,Not Available,Not Available,5/1/20,304,RICHMOND DISTRICT OFFICE,PPP,ITHRIVE GAMES FOUNDATION,VA,4/16/21,Paid in Full,24,152887.0,0.0,NaN,9551,"Bank of America, National Association",VA-03,8.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Non-Profit Organization,New Business or 2 years or less,Y,154181.30,3/10/21,5%,7644.35,NaN,"101 W MAIN ST STE 700, NORFOLK, VA",5.171000e+14,51,51710,5171000490,51710004900,517100049003,517100049003076,POINT (-76.293138 36.8461399)
3,503,4966857706,IND00SS00LR1JR2BT07BA2PPP,Not Available,Not Available,5/1/20,304,RICHMOND DISTRICT OFFICE,PPP,ARAM AFSAHI DDS PC,VA,NaN,Exemption 4,24,150000.0,0.0,NaN,9551,"Bank of America, National Association",VA-07,6.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Sole Proprietorship,New Business or 2 years or less,N,40400.97,5/27/21,5%,7500.00,NaN,"4300 PLANK RD STE 230, FREDERICKSBURG, VA",5.117702e+14,51,51177,5117702010,51177020109,511770201091,511770201091001,POINT (-77.53643940000001 38.2882161)
4,1205,4317957701,IND00SS00LR1JR3BT01BA1PPP,Not Available,Not Available,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,INPHASE RESEARCH CORP-SBA SMALL 7A TERM,VA,7/23/21,Paid in Full,24,331637.0,0.0,NaN,29805,"TD Bank, National Association",VA-11,11.0,29805,"TD Bank, National Association",WILMINGTON,DE,Corporation,Existing or more than 2 years old,N,NaN,NaN,5%,16581.85,NaN,"11351 Random Hills Rd Suite 300, Fairfax, VA",5.105946e+14,51,51059,5105946120,51059461202,510594612022,510594612022012,POINT (-77.3393064 38.8569653)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23261,968225,1791167301,IND99SS00LR2JR5BT02BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,304,RICHMOND DISTRICT OFFICE,PPP,"PRMC OPERATIONS, LLC",VA,7/16/21,Paid in Full,24,423970.0,0.0,NaN,203685,Pinnacle Bank,VA-06,86.0,203685,Pinnacle Bank,NASHVILLE,TN,Limited Liability Company(LLC),New Business or 2 years or less,N,428697.56,6/11/21,3%,12719.10,NaN,"4423 PHEASANT RIDGE ROAD SUITE 301, ROANOKE, VA",5.177000e+14,51,51770,5177000290,51770002900,517700029001,517700029001021,POINT (-79.9637792 37.2225619)
23262,968251,6923697705,IND99SS00LR2JR5BT01BA3PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,HOP & WINE BEVERAGE LLC.,VA,6/10/21,Paid in Full,24,941600.0,0.0,NaN,44449,"PNC Bank, National Association",VA-10,54.0,44449,"PNC Bank, National Association",WILMINGTON,DE,Corporation,Unanswered,N,951408.33,5/18/21,3%,28248.00,NaN,"4605 BROOKFIELD CORPORATE DR, CHANTILLY, VA",5.105949e+14,51,51059,5105949010,51059490105,510594901052,510594901052014,POINT (-77.44823559999998 38.8803291)
23263,968523,7941517205,IND99SS00LR3JR8BT03BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,4/28/20,353,WASHINGTON DISTRICT OFFICE,PPP,"PJ&AMP;HR, INC",VA,11/11/21,Paid in Full,24,1297900.0,0.0,NaN,122517,Atlantic Union Bank,VA-10,500.0,122517,Atlantic Union Bank,RICHMOND,VA,Subchapter S Corporation,New Business or 2 years or less,N,1312681.64,6/23/21,3%,38937.00,NaN,"3901 CENTERVIEW DRIVE, CHANTILLY, VA",5.105948e+14,51,51059,5105948250,51059482505,510594825052,510594825052031,POINT (-77.4308427 38.8974003)
23264,968525,7115607707,IND99SS00LR4JR4BT01BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,PAPILLON AIR INC.,VA,NaN,Exemption 4,24,2126753.0,0.0,NaN,9551,"Bank of America, National Association",VA-10,27.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Corporation,New Business or 2 years or less,N,NaN,NaN,1%,21267.53,NaN,"44728 MALDEN PL, ASHBURN, VA",5.110761e+14,51,51107,5110761101,51107611016,511076110162,511076110162023,POINT (-77.45277759999998 39.0406011)
23265,968528,6570227708,IND99SS00LR4JR6BT01BA2PPP,Nonclassifiable Establishments,Nonclassifiable Establishments,5/1/20,353,WASHINGTON DISTRICT OFFICE,PPP,NHM INC,VA,9/25/21,Paid in Full,24,2065842.0,0.0,NaN,9551,"Bank of America, National Association",VA-08,140.0,9551,"Bank of America, National Association",CHARLOTTE,NC,Corporation,New Business or 2 years or less,N,2091707.47,8/19/21,1%,20658.42,NaN,"9408 GUNSTON COVE RD STE E, LORTON, VA",5.105942e+14,51,51059,5105942210,51059422102,510594221022,510594221022005,POINT (-77.22341949999998 38.7025819)

In [11]:
gdf.loc[gdf["geometry"].isnull()]

Empty GeoDataFrame
Columns: [Unnamed: 0, LoanNumber, HASHcodePM, Industry, IndustrySubsector, DateApproved, SBAOfficeCode, SBAOfficeLabel, ProcessingMethod, BorrowerName, BorrowerState, LoanStatusDate, LoanStatus, Term, CurrentApprovalAmount, UndisbursedAmount, FranchiseName, ServicingLenderLocationID, ServicingLenderName, CD, JobsReported, OriginatingLenderLocationID, OriginatingLender, OriginatingLenderCity, OriginatingLenderState, BusinessType, BusinessAgeDescription, NonProfit, ForgivenessAmount, ForgivenessDate, Estimated_LenderPercent, Estimated_LenderProfit, LongName, full_add, FIPS_z, FIPSstate, FIPScounty, FIPSplaces, FIPStract, FIPSblockgroup, FIPSblock, geometry]
Index: []

In [12]:
listbusiness =gdf["BusinessType"].value_counts()
listbusiness

Corporation                            9611
Limited Liability Company(LLC)         6540
Subchapter S Corporation               4674
Non-Profit Organization                1392
Sole Proprietorship                     272
Partnership                             251
Professional Association                149
Limited Liability Partnership           148
501(c)6  Non Profit Membership          62
501(c)3  Non Profit                     47
Non-Profit Childcare Center              35
Cooperative                              35
Employee Stock Ownership Plan(ESOP)      26
Joint Venture                             4
Trust                                     3
Self-Employed Individuals                 2
Not Available                             2
Tenant in Common                          1
Rollover as Business Start-Ups (ROB       1
Name: BusinessType, dtype: int64

<h4>Writing State Points File

In [13]:
with open('../data/state_data/geo/state_agg/VA_gpd/va_gdf_fips_point.json', 'w') as f:
    f.write(gdf.to_json())

In [14]:
va_hpgf["CurrentApprovalAmount"].sum()

12217758568.25

<b>State Aggregation

In [15]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [16]:
va_hpgf_state = va_hpgf.groupby(['FIPSstate'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum','ForgivenessAmount':'sum'})
va_hpgf_state[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_state[['CurrentApprovalAmount', 'Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format

va_hpgf_state

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,51,23255,12217758568.25,1133072.00,476,377373003.95,9828315543.79

<h4>County Aggregation

In [17]:
#cntyloc = va_hpgf.loc[va_hpgf["FIPScounty"] == ""

In [18]:
va_hpgf_cnty = va_hpgf.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
va_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
va_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_cnty[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
va_hpgf_cnty.head()#132

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,51001,45,15560112.32,1611.00,11,548945.00,12936247.08
1,51003,348,158244482.54,15826.00,54,5225909.32,134903748.15
2,51005,22,7274708.93,913.00,6,288433.27,6263869.84
3,51007,24,6852569.80,721.00,10,279417.30,6339770.21
4,51009,32,19055453.55,2133.00,11,489628.32,18334094.52

In [19]:
va_hpgf_cnty["CurrentApprovalAmount"].max()

2966656254.44

In [20]:
#NonProfit Reporting
pd.set_option('display.max_columns', None)
nonprofit = va_hpgf.loc[va_hpgf["NonProfit"] == "Y"]
nonprofit #1536

va_hpgf_cnty_nonprofit = nonprofit.groupby(['FIPScounty'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
va_hpgf_cnty_nonprofit["NonProfitLoans"] = va_hpgf_cnty_nonprofit.LoanNumber
va_hpgf_cnty_nonprofit["NonProfitApprovalAmount"] = va_hpgf_cnty_nonprofit.CurrentApprovalAmount
va_hpgf_cnty_nonprofit["NonProfitJobsReported"] = va_hpgf_cnty_nonprofit.JobsReported
va_hpgf_cnty_nonprofit["NonProfitLenderProfit"] = va_hpgf_cnty_nonprofit.Estimated_LenderProfit
cols = ['FIPScounty', 'NonProfitLoans', 'NonProfitApprovalAmount', 'NonProfitJobsReported', 'NonProfitLenderProfit']
va_hpgf_cnty_nonprofit = va_hpgf_cnty_nonprofit[cols]
va_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = va_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].apply(lambda x: round(x, 2)) #format
#va_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']] = va_hpgf_cnty_nonprofit[['NonProfitApprovalAmount','NonProfitLenderProfit']].astype(float) # object > float
va_hpgf_cnty_nonprofit

,FIPScounty,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,51001,1,3287292.50,300.00,32872.93
1,51003,29,16790295.37,1484.00,555046.88
2,51005,4,1864500.00,367.00,66509.00
3,51009,1,182500.00,89.00,9125.00
4,51013,160,115606316.85,7806.00,3169056.02
...,...,...,...,...,...
93,51800,3,2187667.00,252.00,76204.01
94,51810,49,20367802.45,2744.00,703190.03
95,51820,7,1908087.50,347.00,75595.61
96,51830,3,1263800.00,198.00,46608.00
97,51840,9,14432269.00,1288.00,201392.41

<h4>Block Group Aggregation

In [21]:
va_hpgf_blockgroup = va_hpgf.groupby(['FIPScounty','FIPSblockgroup'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
va_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float) # object > float
va_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_blockgroup[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2)) #format
va_hpgf_blockgroup.head() #3624- out of 5963 from shpfile

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,51001,510010901011,5,987832.80,136.00,2,49391.64,606874.27
1,51001,510010901012,2,465302.00,102.00,1,23265.10,196424.33
2,51001,510010901021,3,498486.45,63.00,3,24924.32,338530.95
3,51001,510010901022,3,848447.00,113.00,2,32784.75,370697.62
4,51001,510010902011,2,448232.00,26.00,1,22411.60,226527.75

In [22]:
#pd.set_option('display.max_rows', None)
#lmi_bg = va_hpgf.groupby(['FIPScounty','FIPSblockgroup','LMIIndicator']).agg({"LoanNumber" : "count"})
#lmi_bg.head()

<b>Block Aggregation

In [23]:
va_hpgf_block = va_hpgf.groupby(['FIPScounty','FIPSblockgroup', 'FIPSblock'],as_index=False).agg({'LoanNumber': 'count', 'CurrentApprovalAmount':'sum', 'JobsReported':'sum', 'ServicingLenderLocationID': 'nunique', 'Estimated_LenderProfit':'sum', 'ForgivenessAmount':'sum'})
va_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].astype(float)
va_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']] = va_hpgf_block[['CurrentApprovalAmount','Estimated_LenderProfit', 'ForgivenessAmount']].apply(lambda x: round(x, 2))#format #format
va_hpgf_block.head() #8578

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount
0,51001,510010901011,510010901011051,4,800932.80,120.00,2,40046.64,606874.27
1,51001,510010901011,510010901011059,1,186900.00,16.00,1,9345.00,0.00
2,51001,510010901012,510010901012000,2,465302.00,102.00,1,23265.10,196424.33
3,51001,510010901021,510010901021000,1,161157.45,22.00,1,8057.87,162437.88
4,51001,510010901021,510010901021008,1,163429.00,32.00,1,8171.45,0.00

idea:pairing points before aggregation <br>
idea:reduce file size

<b>State Point Pairing

In [24]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_state = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_state/tl_2021_us_state.shp")
gpd_path_state = gpd_path_state.loc[gpd_path_state["STATEFP"]== "51"] #Virginia
gpd_path_state['FIPSstate'] = gpd_path_state.GEOID
gpd_path_state

,REGION,DIVISION,STATEFP,STATENS,GEOID,STUSPS,NAME,LSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSstate
52,3,5,51,01779803,51,VA,Virginia,00,G4000,A,102258210137,8528040726,+37.5222512,-078.6681938,"POLYGON ((-81.67749000000001 36.588137, -81.64...",51

In [25]:
cols = ["FIPSstate", "NAME", "geometry"]
gpd_path_state_parsed = gpd_path_state[cols]
gpd_path_state_parsed

   FIPSstate      NAME                                           geometry
52        51  Virginia  POLYGON ((-81.67749000000001 36.588137, -81.64...

<b>State Choropleth

In [26]:
gpd_state_merge = va_hpgf_state.merge(gpd_path_state_parsed, on="FIPSstate", how="left")
gpd_state_merge

,FIPSstate,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,51,23255,12217758568.25,1133072.00,476,377373003.95,9828315543.79,Virginia,"POLYGON ((-81.67749000000001 36.588137, -81.64..."

<b>State GeoDataFrame JSON conversion

In [27]:
from geopandas import GeoDataFrame
gpd_state_merge = GeoDataFrame(gpd_state_merge)

with open('../data/state_data/geo/state_agg/VA_gpd/va_gpd_state_merge.json', 'w') as f:
    f.write(gpd_state_merge.to_json())

<h4>County Point Pairing

In [28]:
import warnings
import geopandas as gpd
warnings.filterwarnings('ignore')
gpd_path_county = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_us_county/tl_2021_us_county.shp")
gpd_path_county = gpd_path_county.loc[gpd_path_county["STATEFP"]== "51"] #Virginia
gpd_path_county['FIPScounty'] = gpd_path_county.GEOID
gpd_path_county.head() #133

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPScounty
27,51,775,01789074,51775,Salem,Salem city,25,C7,G4020,None,40220,None,F,37593968,275156,+37.2853329,-080.0552407,"POLYGON ((-80.022226 37.308338, -80.021165 37....",51775
28,51,121,01674630,51121,Montgomery,Montgomery County,06,H1,G4020,None,13980,None,A,1001929082,6282286,+37.1755376,-080.3877942,"POLYGON ((-80.430943 37.316378, -80.425556 37....",51121
36,51,735,01498436,51735,Poquoson,Poquoson city,25,C7,G4020,545,47260,None,F,39773690,163429842,+37.1283599,-076.3035337,"POLYGON ((-76.13552 37.19197, -76.134941 37.11...",51735
39,51,095,01480135,51095,James City,James City County,06,H1,G4020,545,47260,None,A,368550683,95239463,+37.3248367,-076.7778878,"POLYGON ((-76.680151 37.265997, -76.6792570000...",51095
49,51,179,01480173,51179,Stafford,Stafford County,06,H1,G4020,548,47900,47894,A,697237751,28087427,+38.4230836,-077.4580475,"POLYGON ((-77.295406 38.509239, -77.295776 38....",51179

In [29]:
cols = ["FIPScounty", "NAME", "geometry"]
gpd_path_county_parsed = gpd_path_county[cols]
gpd_path_county_parsed

,FIPScounty,NAME,geometry
27,51775,Salem,"POLYGON ((-80.022226 37.308338, -80.021165 37...."
28,51121,Montgomery,"POLYGON ((-80.430943 37.316378, -80.425556 37...."
36,51735,Poquoson,"POLYGON ((-76.13552 37.19197, -76.134941 37.11..."
39,51095,James City,"POLYGON ((-76.680151 37.265997, -76.6792570000..."
49,51179,Stafford,"POLYGON ((-77.295406 38.509239, -77.295776 38...."
...,...,...,...
3173,51570,Colonial Heights,"POLYGON ((-77.403671 37.237346, -77.4098769999..."
3191,51810,Virginia Beach,"POLYGON ((-76.22606 36.839947, -76.22306 36.83..."
3193,51103,Lancaster,"POLYGON ((-76.175687 37.671626, -76.162572 37...."
3196,51159,Richmond,"POLYGON ((-76.507828 37.838814, -76.5118180000..."
3224,51117,Mecklenburg,"POLYGON ((-78.046271 36.543551, -78.074124 36...."

<h4>County Choropleth DataFrame

In [30]:
#for blockgroup pairing
cols = ["FIPScounty", "NAME"]
gpd_path_county_parsed_bg = gpd_path_county[cols]
gpd_path_county_parsed_bg.head()

   FIPScounty        NAME
27      51775       Salem
28      51121  Montgomery
36      51735    Poquoson
39      51095  James City
49      51179    Stafford

In [31]:
gpd_county_merge = va_hpgf_cnty.merge(gpd_path_county_parsed, on="FIPScounty", how="left")
gpd_county_merge.head()

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry
0,51001,45,15560112.32,1611.00,11,548945.00,12936247.08,Accomack,"POLYGON ((-75.597441 37.450988, -75.624647 37...."
1,51003,348,158244482.54,15826.00,54,5225909.32,134903748.15,Albemarle,"POLYGON ((-78.368984 38.184146, -78.347837 38...."
2,51005,22,7274708.93,913.00,6,288433.27,6263869.84,Alleghany,"POLYGON ((-80.220984 37.627767, -80.2341799999..."
3,51007,24,6852569.80,721.00,10,279417.30,6339770.21,Amelia,"POLYGON ((-77.65061 37.265112, -77.650554 37.2..."
4,51009,32,19055453.55,2133.00,11,489628.32,18334094.52,Amherst,"POLYGON ((-79.18570200000001 37.46582, -79.185..."

In [32]:
#County NonProfit merge 
gpd_county_merge = gpd_county_merge.merge(va_hpgf_cnty_nonprofit, on = "FIPScounty", how="left")
gpd_county_merge.head()

,FIPScounty,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME,geometry,NonProfitLoans,NonProfitApprovalAmount,NonProfitJobsReported,NonProfitLenderProfit
0,51001,45,15560112.32,1611.00,11,548945.00,12936247.08,Accomack,"POLYGON ((-75.597441 37.450988, -75.624647 37....",1.00,3287292.50,300.00,32872.93
1,51003,348,158244482.54,15826.00,54,5225909.32,134903748.15,Albemarle,"POLYGON ((-78.368984 38.184146, -78.347837 38....",29.00,16790295.37,1484.00,555046.88
2,51005,22,7274708.93,913.00,6,288433.27,6263869.84,Alleghany,"POLYGON ((-80.220984 37.627767, -80.2341799999...",4.00,1864500.00,367.00,66509.00
3,51007,24,6852569.80,721.00,10,279417.30,6339770.21,Amelia,"POLYGON ((-77.65061 37.265112, -77.650554 37.2...",nan,nan,nan,nan
4,51009,32,19055453.55,2133.00,11,489628.32,18334094.52,Amherst,"POLYGON ((-79.18570200000001 37.46582, -79.185...",1.00,182500.00,89.00,9125.00

In [33]:
#gpd_county_merge["LoanAmountperJob"] = gpd_county_merge["CurrentApprovalAmount"]//gpd_county_merge["JobsReported"]
gpd_county_merge.to_csv('../data/state_data/geo/state_agg/VA_gpd/va_gpd_county_merge.csv')

In [34]:
gpd_county_merge.loc[gpd_county_merge["NAME"].isnull()]

Empty DataFrame
Columns: [FIPScounty, LoanNumber, CurrentApprovalAmount, JobsReported, ServicingLenderLocationID, Estimated_LenderProfit, ForgivenessAmount, NAME, geometry, NonProfitLoans, NonProfitApprovalAmount, NonProfitJobsReported, NonProfitLenderProfit]
Index: []

<h4>County GeoDataFrame JSON conversion

In [35]:
from geopandas import GeoDataFrame
gpd_county_merge = GeoDataFrame(gpd_county_merge)

with open('../data/state_data/geo/state_agg/VA_gpd/va_gpd_county_merge.json', 'w') as f:
    f.write(gpd_county_merge.to_json()) #export used in untitled static data folder for county choro preview

#with open('data/state_data/geo/geo_fips/VA_gpd/va_gpd_county_merge_nonp.json', 'w') as f:
    #f.write(gpd_county_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Group Point Pairing

In [36]:
gpd_path_blockgroup = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_blockgroup/tl_2021_51_bg/tl_2021_51_bg.shp")
gpd_path_blockgroup['FIPSblockgroup'] = gpd_path_blockgroup.GEOID
gpd_path_blockgroup.head() #5963

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,FIPSblockgroup
0,51,009,010300,1,510090103001,Block Group 1,G5030,S,14866620,33210,+37.5053035,-079.1420683,"POLYGON ((-79.132578 37.537601, -79.131625 37....",510090103001
1,51,009,010201,2,510090102012,Block Group 2,G5030,S,10193215,90303,+37.5894804,-079.0315293,"POLYGON ((-79.037513 37.608763, -79.035999 37....",510090102012
2,51,009,010201,3,510090102013,Block Group 3,G5030,S,11164338,58462,+37.5652966,-079.0679245,"POLYGON ((-79.058234 37.581578, -79.0550669999...",510090102013
3,51,009,010505,1,510090105051,Block Group 1,G5030,S,5793066,647623,+37.4123292,-079.1212671,"POLYGON ((-79.13843300000001 37.419481, -79.13...",510090105051
4,51,009,010504,3,510090105043,Block Group 3,G5030,S,5589729,22511,+37.4515084,-079.0994672,"POLYGON ((-79.11908699999999 37.466558, -79.11...",510090105043

In [37]:
cols = ["FIPSblockgroup", "NAMELSAD", "geometry"]
gpd_path_blockgroup_parsed = gpd_path_blockgroup[cols]
gpd_path_blockgroup_parsed.head() #5963

,FIPSblockgroup,NAMELSAD,geometry
0,510090103001,Block Group 1,"POLYGON ((-79.132578 37.537601, -79.131625 37...."
1,510090102012,Block Group 2,"POLYGON ((-79.037513 37.608763, -79.035999 37...."
2,510090102013,Block Group 3,"POLYGON ((-79.058234 37.581578, -79.0550669999..."
3,510090105051,Block Group 1,"POLYGON ((-79.13843300000001 37.419481, -79.13..."
4,510090105043,Block Group 3,"POLYGON ((-79.11908699999999 37.466558, -79.11..."

In [38]:
#parsed for block pairing
cols=["FIPSblockgroup", "NAMELSAD"]
gpd_path_blockgroup_parsed_bg = gpd_path_blockgroup_parsed[cols]
gpd_path_blockgroup_parsed_bg.head()

  FIPSblockgroup       NAMELSAD
0   510090103001  Block Group 1
1   510090102012  Block Group 2
2   510090102013  Block Group 3
3   510090105051  Block Group 1
4   510090105043  Block Group 3

<h4>Block Group Choropleth DataFrame

In [39]:
#merge Blockgroup information 
gpd_blockgroup_merge = va_hpgf_blockgroup.merge(gpd_path_blockgroup_parsed, on="FIPSblockgroup", how="left")

#merge County Information 
gpd_blockgroup_merge = gpd_blockgroup_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_blockgroup_merge.head()

,FIPScounty,FIPSblockgroup,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAMELSAD,geometry,NAME
0,51001,510010901011,5,987832.80,136.00,2,49391.64,606874.27,Block Group 1,"POLYGON ((-75.41176 37.946333, -75.374641 37.9...",Accomack
1,51001,510010901012,2,465302.00,102.00,1,23265.10,196424.33,Block Group 2,"POLYGON ((-75.381252 37.919755, -75.377144 37....",Accomack
2,51001,510010901021,3,498486.45,63.00,3,24924.32,338530.95,Block Group 1,"POLYGON ((-75.37741 37.933977, -75.373608 37.9...",Accomack
3,51001,510010901022,3,848447.00,113.00,2,32784.75,370697.62,Block Group 2,"POLYGON ((-75.381128 37.936954, -75.380444 37....",Accomack
4,51001,510010902011,2,448232.00,26.00,1,22411.60,226527.75,Block Group 1,"POLYGON ((-75.54029800000001 37.946012, -75.53...",Accomack

In [40]:
gpd_blockgroup_merge.to_csv("../data/state_data/geo/state_agg/VA_gpd/va_gpd_blockgroup_merge.csv")

<h4>Block Group GeoDataFrame JSON Conversion

In [41]:
gpd_blockgroup_merge = GeoDataFrame(gpd_blockgroup_merge)

with open('../data/state_data/geo/state_agg/VA_gpd/va_gpd_blockgroup_merge.json', 'w') as f:
    f.write(gpd_blockgroup_merge.to_json()) #export used in untitled static data folder for county choro preview

<h4>Block Point Pairing

In [42]:
gpd_path_block = gpd.read_file("../data/state_data/geo/TIGERLINE_Shapefiles/reduced/reduced_block/tl_2021_51_tabblock20/tl_2021_51_tabblock20.shp")
gpd_path_block['FIPSblock'] = gpd_path_block.GEOID20
gpd_path_block.head() #163491

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry,FIPSblock
0,51,089,010200,1000,510890102001000,Block 1000,G5040,R,None,None,S,5512909,17918,+36.7535753,-079.8976823,"POLYGON ((-79.914556 36.751399, -79.914591 36....",510890102001000
1,51,071,930400,2023,510719304002023,Block 2023,G5040,R,None,None,S,6318565,5263,+37.2793586,-080.7538896,"POLYGON ((-80.75394 37.29419, -80.753395 37.29...",510719304002023
2,51,071,930400,2063,510719304002063,Block 2063,G5040,R,None,None,S,2053433,461,+37.2356481,-080.7350158,"POLYGON ((-80.74375499999999 37.242036, -80.74...",510719304002063
3,51,059,492500,1013,510594925001013,Block 1013,G5040,R,None,None,S,607516,10838,+38.7968348,-077.4141508,"POLYGON ((-77.419882 38.800674, -77.415554 38....",510594925001013
4,51,049,930101,2063,510499301012063,Block 2063,G5040,R,None,None,S,3816180,9797,+37.6489553,-078.1426876,"POLYGON ((-78.15331500000001 37.664338, -78.14...",510499301012063

In [43]:
cols = ["FIPSblock", "NAME20", "geometry"]
gpd_path_block_parsed = gpd_path_block[cols]
gpd_path_block_parsed.head() #163491

,FIPSblock,NAME20,geometry
0,510890102001000,Block 1000,"POLYGON ((-79.914556 36.751399, -79.914591 36...."
1,510719304002023,Block 2023,"POLYGON ((-80.75394 37.29419, -80.753395 37.29..."
2,510719304002063,Block 2063,"POLYGON ((-80.74375499999999 37.242036, -80.74..."
3,510594925001013,Block 1013,"POLYGON ((-77.419882 38.800674, -77.415554 38...."
4,510499301012063,Block 2063,"POLYGON ((-78.15331500000001 37.664338, -78.14..."

<h4>Block Choropleth DataFrame

In [44]:
#merge Block information 
gpd_block_merge = va_hpgf_block.merge(gpd_path_block_parsed, on="FIPSblock", how="left")

#merge BlockGroup Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_blockgroup_parsed_bg, on="FIPSblockgroup", how="left")
#merge County Information [FIPScode, Name]
gpd_block_merge = gpd_block_merge.merge(gpd_path_county_parsed_bg, on="FIPScounty", how="left")

gpd_block_merge.head() #8578

,FIPScounty,FIPSblockgroup,FIPSblock,LoanNumber,CurrentApprovalAmount,JobsReported,ServicingLenderLocationID,Estimated_LenderProfit,ForgivenessAmount,NAME20,geometry,NAMELSAD,NAME
0,51001,510010901011,510010901011051,4,800932.80,120.00,2,40046.64,606874.27,Block 1051,"POLYGON ((-75.37172200000001 37.937722, -75.37...",Block Group 1,Accomack
1,51001,510010901011,510010901011059,1,186900.00,16.00,1,9345.00,0.00,Block 1059,"POLYGON ((-75.354163 37.926977, -75.353534 37....",Block Group 1,Accomack
2,51001,510010901012,510010901012000,2,465302.00,102.00,1,23265.10,196424.33,Block 2000,"POLYGON ((-75.367649 37.928342, -75.365317 37....",Block Group 2,Accomack
3,51001,510010901021,510010901021000,1,161157.45,22.00,1,8057.87,162437.88,Block 1000,"POLYGON ((-75.37112500000001 37.937298, -75.36...",Block Group 1,Accomack
4,51001,510010901021,510010901021008,1,163429.00,32.00,1,8171.45,0.00,Block 1008,"POLYGON ((-75.37790200000001 37.933692, -75.37...",Block Group 1,Accomack

In [45]:
gpd_block_merge.to_csv("../data/state_data/geo/state_agg/VA_gpd/va_gpd_block_merge.csv")

<h4>Block GeoDataFrame JSON Conversion

In [46]:
gpd_block_merge = GeoDataFrame(gpd_block_merge)

with open('../data/state_data/geo/state_agg/VA_gpd/va_gpd_block_merge.json', 'w') as f:
    f.write(gpd_block_merge.to_json()) #export used in untitled static data folder for county choro preview