In [1]:
#dependencies
import re
from bs4 import BeautifulSoup 
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import TimeoutException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as BraveService
from webdriver_manager.core.utils import ChromeType
import json
import time
from tqdm.notebook import tqdm

<h4> Start cells here if partial FIPS already available in {state}_fips_scraped file

In [2]:
fips_check_scraped = pd.read_csv("../../../data/state_data/geo/geo_fips/23/NJ_fips_scraped.csv") 
fips_check_scraped  = fips_check_scraped.loc[:, ~fips_check_scraped.columns.str.contains('^Unnamed')] 
fips_check_scraped.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,3.402301e+14
1,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,3.402580e+14
2,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,3.401700e+14
3,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,3.401302e+14
4,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,3.402581e+14

In [3]:
#Latitude, Longitude, not included
fips_check_scraped_notna = fips_check_scraped[fips_check_scraped["Lat"].notna()] # check to make sure no nulls in coords
fips_check_scraped_notna.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,3.402301e+14
1,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,3.402580e+14
2,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,3.401700e+14
3,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,3.401302e+14
4,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,3.402581e+14

In [4]:
#FIPS not included, of Lat, Long available
fips_check_scraped_null = fips_check_scraped_notna[fips_check_scraped_notna["FIPS_z"].isnull()] # check to make sure no nulls in coords
fips_check_scraped_null #28093

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
867,3144267702,NJ,"101 COLLEGE ROAD EAST 2ND FLOOR, PRINCETON, NJ",40.358640,-74.601988,NaN
990,7602717103,NJ,"451 Frelinghuysen Avenue, NEWARK, NJ",40.705687,-74.194178,NaN
1172,8274828407,NJ,"27 RIDGE RD, WHITEHOUSE STATION, NJ",40.605363,-74.735444,NaN
1431,3601787701,NJ,"5140 US Hwy 9, howell, NJ",34.251379,-85.453067,NaN
2623,4714287106,NJ,"4 BELL DRIVE, RIDGEFIELD, NJ",40.837074,-74.012039,NaN
3537,3317248702,NJ,"601 Bangs Ave Suite 402, ASBURY PARK, NJ",40.217103,-74.010180,NaN
3554,4945367310,NJ,"2300 US Highway 1 North, ENGLISHTOWN, NJ",38.930717,-76.973348,NaN
3658,8609857205,NJ,"2 Riverview Dr, SOMERSET, NJ",40.547475,-74.554659,NaN
4784,4879448405,NJ,"91 MILLBROOK CIR, NORWOOD, NJ",40.977720,-73.934398,NaN
5184,7363288408,NJ,"10 Park Pl Bldg 1A Ste 504, Butler, NJ",40.747720,-73.981308,NaN
5349,9722467300,NJ,C/O IVY HILL Park Apartments Management Office...,40.737539,-74.246579,NaN
5761,1603408301,NJ,"450 US Highway 1 and 9, Newark, NJ",27.375662,-80.326119,NaN
5771,8351957104,NJ,"761 RT 9, BAYVILLE, NJ",43.818420,-73.772538,NaN
6521,3040197406,NJ,"1634 MCLEAN CT, TOMS RIVER, NJ",40.008817,-74.204698,NaN
8260,3438857305,NJ,"1460 US HWY 9 N SUITE 203, WOODBRIDGE, NJ",34.251379,-85.453067,NaN
8760,7836737003,NJ,"450 US HIGHWAY 1 AND 9, NEWARK, NJ",27.375662,-80.326119,NaN
10836,1031857304,NJ,"3725 Tonnelle Ave., NORTH BERGEN, NJ",40.780591,-74.038183,NaN
10923,5141627206,NJ,"72 B Pearl Street, North Plainfield, NJ",40.622437,-74.424431,NaN
11654,1601538410,NJ,"39 SOUTH VAN BRUNT STREET, ENGLEWOOD, NJ",40.893079,-73.976506,NaN
12062,2617848702,NJ,"749 E. Goepp Street, Bethlehem, NJ",40.626382,-75.361486,NaN
15628,6124417303,NJ,"40 SAW MILL POND RD, EDISON, NJ",40.493588,-74.373043,NaN
15646,1071227210,NJ,"1601 Market Street 2300, Philadelphia, NJ",39.953097,-75.167352,NaN
17206,2984238306,NJ,"2720 US Highway 1, Lawrence, NJ",44.499859,-68.146898,NaN
17302,6965417210,NJ,"292 US Highway 1, Green Brook, NJ",45.098725,-67.128121,NaN
17323,2755498310,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,NaN
17654,8676158410,NJ,"620 US Highway 1 and 9, Newark, NJ",36.027406,-78.506292,NaN
18161,3317177110,NJ,"2720 US HIGHWAY 1, LAWRENCE TOWNSHIP, NJ",44.499859,-68.146898,NaN
18849,3707747306,NJ,"07432, MIDLAND PARK, NJ",40.996521,-74.138677,NaN
20957,1365307303,NJ,"823 East GATE DR, MOUNT LAUREL, NJ",39.944043,-74.946274,NaN
21518,4377597702,NJ,"129 Skunk Hollow Road, Jericho, NJ",44.481823,-73.013720,NaN
21576,1159037206,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,NaN
21593,1812318000,NJ,"701 W. Delilah Rod, Pleasantville, NJ",39.409918,-74.526246,NaN
22644,6336417708,NJ,"120 WOODBINE STREET, BERGENFIELD, NJ",40.917498,-74.001284,NaN
23299,1175047209,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,NaN
24030,4096837107,NJ,"860 Rt 1 N Ste 101, EDISON, NJ",26.824206,-80.059963,NaN
25877,5040487202,NJ,"5140 US Hwy 9 south, Howell, NJ",34.251379,-85.453067,NaN
28436,5066757209,NJ,"252 Route 9, Bayville, NJ",41.506538,-73.897285,NaN
29191,5865668503,NJ,"3025 Byron Street, San Diego, NJ",32.722732,-117.231620,NaN
29428,2678567709,NJ,"538 LAKESIDE RD, HEWITT, NJ",41.185688,-74.330978,NaN
29774,8632627106,NJ,"52 Park Ave Suite B-7, PARK RIDGE, NJ",40.749351,-73.980140,NaN
30122,2104137710,NJ,"775 Rt 1 S, Edison, NJ",40.512434,-74.383623,NaN
30573,2588607301,NJ,"53 CARDINAL DR, WESTFIELD, NJ",40.679930,-74.327873,NaN
30687,9300618500,NJ,"172 Broadway Ste 210 Back Building, Woodcliff ...",40.709656,-74.009910,NaN
30730,9479958507,NJ,"410 RT 46 EAST, FAIRFIELD, NJ",40.881874,-74.288904,NaN
31000,4910627305,NJ,"10 Park Pl Bldg 6B, Ste 402, BUTLER, NJ",40.747720,-73.981308,NaN
31041,7649738309,NJ,"1244 US 22, BRIDGEWATER, NJ",40.577943,-74.583262,NaN
31170,4244467705,NJ,"903 60th st, Brooklyn, NJ",40.634199,-74.007009,NaN
32188,1441598504,NJ,"9 Midland Ave, Montclair, NJ",40.816168,-74.219698,NaN
32356,4190428606,NJ,"903 60th st FL1, Brooklyn, NJ",40.634199,-74.007009,NaN

<h4>FIPS Script

In [5]:
#if FIPS_z file 
lat = fips_check_scraped_null["Lat"].astype(float).astype(str).to_list()
long = fips_check_scraped_null["Long"].astype(float).astype(str).to_list()

In [6]:
#before running script, check for any NaN within Lat, Long fields. 
def sleep():
    time.sleep(1)
option = webdriver.ChromeOptions()
option.binary_location = "/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
driver = Browser('chrome', options=option, headless=False)    
url = 'https://geocoding.geo.census.gov/geocoder/geographies/coordinates?form'
driver.visit(url)

not_found = []
geo_id = []

i=0
for i in tqdm(range(len(lat))):
    #while i < len(lat):
        driver.find_by_id('geoCoordX').clear()
        driver.find_by_id('geoCoordY').clear()
        driver.find_by_id('geoCoordX').fill(long[i])
        driver.find_by_id('geoCoordY').fill(lat[i])
        driver.find_by_id('geoCoordsSubmit').click()
        #sleep()
        #html = driver.html
        soup = BeautifulSoup(driver.html, 'html.parser')


        results = soup.find_all('div', id='geoCoordsJsonOutput')
        for result in results:
            result_text = result.text

            result_digits = re.findall('\d+', result_text)
            startswith = [s for s in result_digits if s.startswith('34')] #NJ
            fips_elements =[element for element in startswith if len(element)>=15]
            
            try:
                #print(f"{i},{lat[i]},{long[i]} is {fips_elements}")
                geo_id.append(fips_elements)
            except (KeyError, IndexError):
                #print(f"{i},{lat[i]},{long[i]} Not Found")
                not_found.append(i)
                geo_id.append(None)  
            except (TimeoutException):
                driver.navigate.refresh()
    
        #sleep()
        i=i+1

  0%|          | 0/49 [00:00<?, ?it/s]

coordinates wtih more than one return:
385,37.514070000000004,-77.35472 is ['514070000000004', '510872015041003'] 
1178,37.516454700000004,-77.8100575 is ['516454700000004', '511455001022014'] 
2660,37.519462299999994,-77.340384 is ['519462299999994', '510872014061012']
second option reference FIPS code, first option references LatCoord, update fields in DataFrame

https://iqss.github.io/dss-webscrape/filling-in-web-forms.html

In [7]:
geo_id_list =geo_id

Length Check

In [8]:
print(len(geo_id_list))

49

Matching FIPS to DataFrame

In [9]:
fips_fill = fips_check_scraped_null

In [10]:
fips_fill["FIPS_z"] = geo_id_list
fips_fill

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_9734/597263667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fips_fill["FIPS_z"] = geo_id_list

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
867,3144267702,NJ,"101 COLLEGE ROAD EAST 2ND FLOOR, PRINCETON, NJ",40.358640,-74.601988,[340230086012012]
990,7602717103,NJ,"451 Frelinghuysen Avenue, NEWARK, NJ",40.705687,-74.194178,[340130048021017]
1172,8274828407,NJ,"27 RIDGE RD, WHITEHOUSE STATION, NJ",40.605363,-74.735444,[340190111002025]
1431,3601787701,NJ,"5140 US Hwy 9, howell, NJ",34.251379,-85.453067,[]
2623,4714287106,NJ,"4 BELL DRIVE, RIDGEFIELD, NJ",40.837074,-74.012039,[340030452003006]
3537,3317248702,NJ,"601 Bangs Ave Suite 402, ASBURY PARK, NJ",40.217103,-74.010180,[340258070052023]
3554,4945367310,NJ,"2300 US Highway 1 North, ENGLISHTOWN, NJ",38.930717,-76.973348,[]
3658,8609857205,NJ,"2 Riverview Dr, SOMERSET, NJ",40.547475,-74.554659,[340350535012029]
4784,4879448405,NJ,"91 MILLBROOK CIR, NORWOOD, NJ",40.977720,-73.934398,[340030023002014]
5184,7363288408,NJ,"10 Park Pl Bldg 1A Ste 504, Butler, NJ",40.747720,-73.981308,[]
5349,9722467300,NJ,C/O IVY HILL Park Apartments Management Office...,40.737539,-74.246579,[340130022031002]
5761,1603408301,NJ,"450 US Highway 1 and 9, Newark, NJ",27.375662,-80.326119,[]
5771,8351957104,NJ,"761 RT 9, BAYVILLE, NJ",43.818420,-73.772538,[]
6521,3040197406,NJ,"1634 MCLEAN CT, TOMS RIVER, NJ",40.008817,-74.204698,[340297221002009]
8260,3438857305,NJ,"1460 US HWY 9 N SUITE 203, WOODBRIDGE, NJ",34.251379,-85.453067,[]
8760,7836737003,NJ,"450 US HIGHWAY 1 AND 9, NEWARK, NJ",27.375662,-80.326119,[]
10836,1031857304,NJ,"3725 Tonnelle Ave., NORTH BERGEN, NJ",40.780591,-74.038183,[340170147002000]
10923,5141627206,NJ,"72 B Pearl Street, North Plainfield, NJ",40.622437,-74.424431,[340350517002003]
11654,1601538410,NJ,"39 SOUTH VAN BRUNT STREET, ENGLEWOOD, NJ",40.893079,-73.976506,[340030154012003]
12062,2617848702,NJ,"749 E. Goepp Street, Bethlehem, NJ",40.626382,-75.361486,[]
15628,6124417303,NJ,"40 SAW MILL POND RD, EDISON, NJ",40.493588,-74.373043,[340230018065014]
15646,1071227210,NJ,"1601 Market Street 2300, Philadelphia, NJ",39.953097,-75.167352,[]
17206,2984238306,NJ,"2720 US Highway 1, Lawrence, NJ",44.499859,-68.146898,[]
17302,6965417210,NJ,"292 US Highway 1, Green Brook, NJ",45.098725,-67.128121,[]
17323,2755498310,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,[340030442021022]
17654,8676158410,NJ,"620 US Highway 1 and 9, Newark, NJ",36.027406,-78.506292,[]
18161,3317177110,NJ,"2720 US HIGHWAY 1, LAWRENCE TOWNSHIP, NJ",44.499859,-68.146898,[]
18849,3707747306,NJ,"07432, MIDLAND PARK, NJ",40.996521,-74.138677,[340030340021019]
20957,1365307303,NJ,"823 East GATE DR, MOUNT LAUREL, NJ",39.944043,-74.946274,[340057029061005]
21518,4377597702,NJ,"129 Skunk Hollow Road, Jericho, NJ",44.481823,-73.013720,[]
21576,1159037206,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,[340030442021022]
21593,1812318000,NJ,"701 W. Delilah Rod, Pleasantville, NJ",39.409918,-74.526246,[340010119022007]
22644,6336417708,NJ,"120 WOODBINE STREET, BERGENFIELD, NJ",40.917498,-74.001284,[340030034022001]
23299,1175047209,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,[340030442021022]
24030,4096837107,NJ,"860 Rt 1 N Ste 101, EDISON, NJ",26.824206,-80.059963,[]
25877,5040487202,NJ,"5140 US Hwy 9 south, Howell, NJ",34.251379,-85.453067,[]
28436,5066757209,NJ,"252 Route 9, Bayville, NJ",41.506538,-73.897285,[]
29191,5865668503,NJ,"3025 Byron Street, San Diego, NJ",32.722732,-117.231620,[]
29428,2678567709,NJ,"538 LAKESIDE RD, HEWITT, NJ",41.185688,-74.330978,[]
29774,8632627106,NJ,"52 Park Ave Suite B-7, PARK RIDGE, NJ",40.749351,-73.980140,[]
30122,2104137710,NJ,"775 Rt 1 S, Edison, NJ",40.512434,-74.383623,[340230017023000]
30573,2588607301,NJ,"53 CARDINAL DR, WESTFIELD, NJ",40.679930,-74.327873,[340390364001000]
30687,9300618500,NJ,"172 Broadway Ste 210 Back Building, Woodcliff ...",40.709656,-74.009910,[]
30730,9479958507,NJ,"410 RT 46 EAST, FAIRFIELD, NJ",40.881874,-74.288904,[340130216012023]
31000,4910627305,NJ,"10 Park Pl Bldg 6B, Ste 402, BUTLER, NJ",40.747720,-73.981308,[]
31041,7649738309,NJ,"1244 US 22, BRIDGEWATER, NJ",40.577943,-74.583262,[340350509022021]
31170,4244467705,NJ,"903 60th st, Brooklyn, NJ",40.634199,-74.007009,[]
32188,1441598504,NJ,"9 Midland Ave, Montclair, NJ",40.816168,-74.219698,[340130168003007]
32356,4190428606,NJ,"903 60th st FL1, Brooklyn, NJ",40.634199,-74.007009,[]

Remove brackets

In [11]:
fips_fill['FIPS_z'] = fips_fill['FIPS_z'].str[0]
fips_fill

/var/folders/vy/qdp8xcfj4s3dd5c6d1xp_y3w0000gn/T/ipykernel_9734/1219885402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fips_fill['FIPS_z'] = fips_fill['FIPS_z'].str[0]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
867,3144267702,NJ,"101 COLLEGE ROAD EAST 2ND FLOOR, PRINCETON, NJ",40.358640,-74.601988,340230086012012
990,7602717103,NJ,"451 Frelinghuysen Avenue, NEWARK, NJ",40.705687,-74.194178,340130048021017
1172,8274828407,NJ,"27 RIDGE RD, WHITEHOUSE STATION, NJ",40.605363,-74.735444,340190111002025
1431,3601787701,NJ,"5140 US Hwy 9, howell, NJ",34.251379,-85.453067,NaN
2623,4714287106,NJ,"4 BELL DRIVE, RIDGEFIELD, NJ",40.837074,-74.012039,340030452003006
3537,3317248702,NJ,"601 Bangs Ave Suite 402, ASBURY PARK, NJ",40.217103,-74.010180,340258070052023
3554,4945367310,NJ,"2300 US Highway 1 North, ENGLISHTOWN, NJ",38.930717,-76.973348,NaN
3658,8609857205,NJ,"2 Riverview Dr, SOMERSET, NJ",40.547475,-74.554659,340350535012029
4784,4879448405,NJ,"91 MILLBROOK CIR, NORWOOD, NJ",40.977720,-73.934398,340030023002014
5184,7363288408,NJ,"10 Park Pl Bldg 1A Ste 504, Butler, NJ",40.747720,-73.981308,NaN
5349,9722467300,NJ,C/O IVY HILL Park Apartments Management Office...,40.737539,-74.246579,340130022031002
5761,1603408301,NJ,"450 US Highway 1 and 9, Newark, NJ",27.375662,-80.326119,NaN
5771,8351957104,NJ,"761 RT 9, BAYVILLE, NJ",43.818420,-73.772538,NaN
6521,3040197406,NJ,"1634 MCLEAN CT, TOMS RIVER, NJ",40.008817,-74.204698,340297221002009
8260,3438857305,NJ,"1460 US HWY 9 N SUITE 203, WOODBRIDGE, NJ",34.251379,-85.453067,NaN
8760,7836737003,NJ,"450 US HIGHWAY 1 AND 9, NEWARK, NJ",27.375662,-80.326119,NaN
10836,1031857304,NJ,"3725 Tonnelle Ave., NORTH BERGEN, NJ",40.780591,-74.038183,340170147002000
10923,5141627206,NJ,"72 B Pearl Street, North Plainfield, NJ",40.622437,-74.424431,340350517002003
11654,1601538410,NJ,"39 SOUTH VAN BRUNT STREET, ENGLEWOOD, NJ",40.893079,-73.976506,340030154012003
12062,2617848702,NJ,"749 E. Goepp Street, Bethlehem, NJ",40.626382,-75.361486,NaN
15628,6124417303,NJ,"40 SAW MILL POND RD, EDISON, NJ",40.493588,-74.373043,340230018065014
15646,1071227210,NJ,"1601 Market Street 2300, Philadelphia, NJ",39.953097,-75.167352,NaN
17206,2984238306,NJ,"2720 US Highway 1, Lawrence, NJ",44.499859,-68.146898,NaN
17302,6965417210,NJ,"292 US Highway 1, Green Brook, NJ",45.098725,-67.128121,NaN
17323,2755498310,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,340030442021022
17654,8676158410,NJ,"620 US Highway 1 and 9, Newark, NJ",36.027406,-78.506292,NaN
18161,3317177110,NJ,"2720 US HIGHWAY 1, LAWRENCE TOWNSHIP, NJ",44.499859,-68.146898,NaN
18849,3707747306,NJ,"07432, MIDLAND PARK, NJ",40.996521,-74.138677,340030340021019
20957,1365307303,NJ,"823 East GATE DR, MOUNT LAUREL, NJ",39.944043,-74.946274,340057029061005
21518,4377597702,NJ,"129 Skunk Hollow Road, Jericho, NJ",44.481823,-73.013720,NaN
21576,1159037206,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,340030442021022
21593,1812318000,NJ,"701 W. Delilah Rod, Pleasantville, NJ",39.409918,-74.526246,340010119022007
22644,6336417708,NJ,"120 WOODBINE STREET, BERGENFIELD, NJ",40.917498,-74.001284,340030034022001
23299,1175047209,NJ,"1000 LAKE ST RAMSEY UNIT 800D, RAMSEY, NJ",41.063706,-74.123990,340030442021022
24030,4096837107,NJ,"860 Rt 1 N Ste 101, EDISON, NJ",26.824206,-80.059963,NaN
25877,5040487202,NJ,"5140 US Hwy 9 south, Howell, NJ",34.251379,-85.453067,NaN
28436,5066757209,NJ,"252 Route 9, Bayville, NJ",41.506538,-73.897285,NaN
29191,5865668503,NJ,"3025 Byron Street, San Diego, NJ",32.722732,-117.231620,NaN
29428,2678567709,NJ,"538 LAKESIDE RD, HEWITT, NJ",41.185688,-74.330978,NaN
29774,8632627106,NJ,"52 Park Ave Suite B-7, PARK RIDGE, NJ",40.749351,-73.980140,NaN
30122,2104137710,NJ,"775 Rt 1 S, Edison, NJ",40.512434,-74.383623,340230017023000
30573,2588607301,NJ,"53 CARDINAL DR, WESTFIELD, NJ",40.679930,-74.327873,340390364001000
30687,9300618500,NJ,"172 Broadway Ste 210 Back Building, Woodcliff ...",40.709656,-74.009910,NaN
30730,9479958507,NJ,"410 RT 46 EAST, FAIRFIELD, NJ",40.881874,-74.288904,340130216012023
31000,4910627305,NJ,"10 Park Pl Bldg 6B, Ste 402, BUTLER, NJ",40.747720,-73.981308,NaN
31041,7649738309,NJ,"1244 US 22, BRIDGEWATER, NJ",40.577943,-74.583262,340350509022021
31170,4244467705,NJ,"903 60th st, Brooklyn, NJ",40.634199,-74.007009,NaN
32188,1441598504,NJ,"9 Midland Ave, Montclair, NJ",40.816168,-74.219698,340130168003007
32356,4190428606,NJ,"903 60th st FL1, Brooklyn, NJ",40.634199,-74.007009,NaN

In [12]:
fips_fill.loc[fips_fill["FIPS_z"].isnull()] #check #13

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
1431,3601787701,NJ,"5140 US Hwy 9, howell, NJ",34.251379,-85.453067,NaN
3554,4945367310,NJ,"2300 US Highway 1 North, ENGLISHTOWN, NJ",38.930717,-76.973348,NaN
5184,7363288408,NJ,"10 Park Pl Bldg 1A Ste 504, Butler, NJ",40.747720,-73.981308,NaN
5761,1603408301,NJ,"450 US Highway 1 and 9, Newark, NJ",27.375662,-80.326119,NaN
5771,8351957104,NJ,"761 RT 9, BAYVILLE, NJ",43.818420,-73.772538,NaN
8260,3438857305,NJ,"1460 US HWY 9 N SUITE 203, WOODBRIDGE, NJ",34.251379,-85.453067,NaN
8760,7836737003,NJ,"450 US HIGHWAY 1 AND 9, NEWARK, NJ",27.375662,-80.326119,NaN
12062,2617848702,NJ,"749 E. Goepp Street, Bethlehem, NJ",40.626382,-75.361486,NaN
15646,1071227210,NJ,"1601 Market Street 2300, Philadelphia, NJ",39.953097,-75.167352,NaN
17206,2984238306,NJ,"2720 US Highway 1, Lawrence, NJ",44.499859,-68.146898,NaN
17302,6965417210,NJ,"292 US Highway 1, Green Brook, NJ",45.098725,-67.128121,NaN
17654,8676158410,NJ,"620 US Highway 1 and 9, Newark, NJ",36.027406,-78.506292,NaN
18161,3317177110,NJ,"2720 US HIGHWAY 1, LAWRENCE TOWNSHIP, NJ",44.499859,-68.146898,NaN
21518,4377597702,NJ,"129 Skunk Hollow Road, Jericho, NJ",44.481823,-73.013720,NaN
24030,4096837107,NJ,"860 Rt 1 N Ste 101, EDISON, NJ",26.824206,-80.059963,NaN
25877,5040487202,NJ,"5140 US Hwy 9 south, Howell, NJ",34.251379,-85.453067,NaN
28436,5066757209,NJ,"252 Route 9, Bayville, NJ",41.506538,-73.897285,NaN
29191,5865668503,NJ,"3025 Byron Street, San Diego, NJ",32.722732,-117.231620,NaN
29428,2678567709,NJ,"538 LAKESIDE RD, HEWITT, NJ",41.185688,-74.330978,NaN
29774,8632627106,NJ,"52 Park Ave Suite B-7, PARK RIDGE, NJ",40.749351,-73.980140,NaN
30687,9300618500,NJ,"172 Broadway Ste 210 Back Building, Woodcliff ...",40.709656,-74.009910,NaN
31000,4910627305,NJ,"10 Park Pl Bldg 6B, Ste 402, BUTLER, NJ",40.747720,-73.981308,NaN
31170,4244467705,NJ,"903 60th st, Brooklyn, NJ",40.634199,-74.007009,NaN
32356,4190428606,NJ,"903 60th st FL1, Brooklyn, NJ",40.634199,-74.007009,NaN

Parse for Merge

In [13]:
cols= ["LoanNumber", "FIPS_z"]
fips_fill_parsed = fips_fill[cols]
fips_fill_parsed

       LoanNumber           FIPS_z
867    3144267702  340230086012012
990    7602717103  340130048021017
1172   8274828407  340190111002025
1431   3601787701              NaN
2623   4714287106  340030452003006
3537   3317248702  340258070052023
3554   4945367310              NaN
3658   8609857205  340350535012029
4784   4879448405  340030023002014
5184   7363288408              NaN
5349   9722467300  340130022031002
5761   1603408301              NaN
5771   8351957104              NaN
6521   3040197406  340297221002009
8260   3438857305              NaN
8760   7836737003              NaN
10836  1031857304  340170147002000
10923  5141627206  340350517002003
11654  1601538410  340030154012003
12062  2617848702              NaN
15628  6124417303  340230018065014
15646  1071227210              NaN
17206  2984238306              NaN
17302  6965417210              NaN
17323  2755498310  340030442021022
17654  8676158410              NaN
18161  3317177110              NaN
18849  3707747306  340030340021019
20957  1365307303  340057029061005
21518  4377597702              NaN
21576  1159037206  340030442021022
21593  1812318000  340010119022007
22644  6336417708  340030034022001
23299  1175047209  340030442021022
24030  4096837107              NaN
25877  5040487202              NaN
28436  5066757209              NaN
29191  5865668503              NaN
29428  2678567709              NaN
29774  8632627106              NaN
30122  2104137710  340230017023000
30573  2588607301  340390364001000
30687  9300618500              NaN
30730  9479958507  340130216012023
31000  4910627305              NaN
31041  7649738309  340350509022021
31170  4244467705              NaN
32188  1441598504  340130168003007
32356  4190428606              NaN

Read in base data

In [14]:

#if from FIPS file
fips_check = pd.read_csv("../../../data/state_data/geo/geo_fips/23/NJ_fips_scraped.csv") 
#fips_check = fips_check.drop(["Unnamed: 0.1", "Unnamed: 0.1.1", "Unnamed: 0"], axis =1) 
fips_check.head()

,Unnamed: 0,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,558332,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,3.402301e+14
1,558333,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,3.402580e+14
2,558334,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,3.401700e+14
3,558335,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,3.401302e+14
4,558336,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,3.402581e+14

Merge with MainFrame

In [15]:
fips_merge = fips_check.merge(fips_fill_parsed, on="LoanNumber", how="left")
fips_merge

,Unnamed: 0,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z_x,FIPS_z_y
0,558332,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,3.402301e+14,NaN
1,558333,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,3.402580e+14,NaN
2,558334,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,3.401700e+14,NaN
3,558335,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,3.401302e+14,NaN
4,558336,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,3.402581e+14,NaN
...,...,...,...,...,...,...,...,...
32510,590842,9754798404,NJ,"219 S Main St, Barnegat, NJ",39.745114,-74.231276,3.402973e+14,NaN
32511,590843,9776128806,NJ,"303 Doremus Ave 303 Doremus Ave, Newark, NJ",40.723252,-74.126015,3.401301e+14,NaN
32512,590844,9818008107,NJ,"830 GROVE ST, ELIZABETH, NJ",40.655283,-74.218870,3.403903e+14,NaN
32513,590845,9876707706,NJ,"1256 Indian Head Rd, Toms River, NJ",39.991767,-74.215181,3.402972e+14,NaN
32514,590846,9994847104,NJ,"304 Squankum Road, FARMINGDALE, NJ",40.167833,-74.152897,3.402581e+14,NaN

<b>Fill FIPS Columns - if FIPS file

In [16]:
fips_merge["FIPS_z"] = fips_merge["FIPS_z_y"].fillna(fips_merge["FIPS_z_x"])
fips_merge.head()

,Unnamed: 0,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z_x,FIPS_z_y,FIPS_z
0,558332,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,3.402301e+14,NaN,340230062051009.0
1,558333,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,3.402580e+14,NaN,340258013005019.0
2,558334,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,3.401700e+14,NaN,340170041041000.0
3,558335,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,3.401302e+14,NaN,340130204004013.0
4,558336,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,3.402581e+14,NaN,340258126004030.0

Drop Extra FIPS Columns

In [17]:
fips_merge_drop = fips_merge.drop(["FIPS_z_x", "FIPS_z_y"], axis=1)
fips_merge_drop = fips_merge_drop.drop(["Unnamed: 0"], axis=1)
fips_merge_drop

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,1933087308,NJ,"2050 STATE ROUTE 27, NORTH BRUNSWICK, NJ",40.457578,-74.510531,340230062051009.0
1,2697537303,NJ,"331 NEWMAN SPRINGS RD BLDG 3 STE 350 2ND FLR, ...",40.334716,-74.095448,340258013005019.0
2,3055997206,NJ,"2535 John F. Kennedy Blvd, Jersey City, NJ",40.723953,-74.074761,340170041041000.0
3,3162367309,NJ,"78 OKNER PARKWAY, LIVINGSTON, NJ",40.803235,-74.352090,340130204004013.0
4,3622487203,NJ,"1 Radar Way, EATONTOWN, NJ",40.296082,-74.084398,340258126004030.0
...,...,...,...,...,...,...
32510,9754798404,NJ,"219 S Main St, Barnegat, NJ",39.745114,-74.231276,340297340031014.0
32511,9776128806,NJ,"303 Doremus Ave 303 Doremus Ave, Newark, NJ",40.723252,-74.126015,340130074001003.0
32512,9818008107,NJ,"830 GROVE ST, ELIZABETH, NJ",40.655283,-74.218870,340390307031001.0
32513,9876707706,NJ,"1256 Indian Head Rd, Toms River, NJ",39.991767,-74.215181,340297230002002.0
32514,9994847104,NJ,"304 Squankum Road, FARMINGDALE, NJ",40.167833,-74.152897,340258115022031.0

In [18]:
fips_merge_drop.loc[fips_merge_drop["FIPS_z"].isnull()] #13

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
1431,3601787701,NJ,"5140 US Hwy 9, howell, NJ",34.251379,-85.453067,NaN
3554,4945367310,NJ,"2300 US Highway 1 North, ENGLISHTOWN, NJ",38.930717,-76.973348,NaN
5184,7363288408,NJ,"10 Park Pl Bldg 1A Ste 504, Butler, NJ",40.747720,-73.981308,NaN
5761,1603408301,NJ,"450 US Highway 1 and 9, Newark, NJ",27.375662,-80.326119,NaN
5771,8351957104,NJ,"761 RT 9, BAYVILLE, NJ",43.818420,-73.772538,NaN
8260,3438857305,NJ,"1460 US HWY 9 N SUITE 203, WOODBRIDGE, NJ",34.251379,-85.453067,NaN
8760,7836737003,NJ,"450 US HIGHWAY 1 AND 9, NEWARK, NJ",27.375662,-80.326119,NaN
12062,2617848702,NJ,"749 E. Goepp Street, Bethlehem, NJ",40.626382,-75.361486,NaN
15646,1071227210,NJ,"1601 Market Street 2300, Philadelphia, NJ",39.953097,-75.167352,NaN
17206,2984238306,NJ,"2720 US Highway 1, Lawrence, NJ",44.499859,-68.146898,NaN
17302,6965417210,NJ,"292 US Highway 1, Green Brook, NJ",45.098725,-67.128121,NaN
17654,8676158410,NJ,"620 US Highway 1 and 9, Newark, NJ",36.027406,-78.506292,NaN
18161,3317177110,NJ,"2720 US HIGHWAY 1, LAWRENCE TOWNSHIP, NJ",44.499859,-68.146898,NaN
21518,4377597702,NJ,"129 Skunk Hollow Road, Jericho, NJ",44.481823,-73.013720,NaN
24030,4096837107,NJ,"860 Rt 1 N Ste 101, EDISON, NJ",26.824206,-80.059963,NaN
25877,5040487202,NJ,"5140 US Hwy 9 south, Howell, NJ",34.251379,-85.453067,NaN
28436,5066757209,NJ,"252 Route 9, Bayville, NJ",41.506538,-73.897285,NaN
29191,5865668503,NJ,"3025 Byron Street, San Diego, NJ",32.722732,-117.231620,NaN
29428,2678567709,NJ,"538 LAKESIDE RD, HEWITT, NJ",41.185688,-74.330978,NaN
29774,8632627106,NJ,"52 Park Ave Suite B-7, PARK RIDGE, NJ",40.749351,-73.980140,NaN
30687,9300618500,NJ,"172 Broadway Ste 210 Back Building, Woodcliff ...",40.709656,-74.009910,NaN
31000,4910627305,NJ,"10 Park Pl Bldg 6B, Ste 402, BUTLER, NJ",40.747720,-73.981308,NaN
31170,4244467705,NJ,"903 60th st, Brooklyn, NJ",40.634199,-74.007009,NaN
32356,4190428606,NJ,"903 60th st FL1, Brooklyn, NJ",40.634199,-74.007009,NaN

Convert to File

In [19]:
fips_NJ = fips_merge_drop

In [20]:
fips_NJ.to_csv("../../../data/state_data/geo/geo_fips/23/NJ_fips_scraped.csv")