In [27]:
#dependencies
import re
from bs4 import BeautifulSoup 
from splinter import Browser
import requests
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import TimeoutException
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as BraveService
from webdriver_manager.core.utils import ChromeType
import json
import time
from tqdm.notebook import tqdm

<h4> Start cells here if partial FIPS already available in {state}_fips_scraped file

In [28]:
fips_check_scraped = pd.read_csv("../../../data/state_data/geo/ppp_geo_fips23.csv") 
fips_check_scraped  = fips_check_scraped.loc[:, ~fips_check_scraped.columns.str.contains('^Unnamed')] 
fips_check_scraped.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13

In [31]:
pd.set_option('display.max_columns', None)
#Latitude, Longitude included
fips_check_scraped_notna = fips_check_scraped[fips_check_scraped["Lat"].notna()] # check to make sure no nulls in coords
#FIPS not included, of Lat, Long available
fips_check_scraped_null = fips_check_scraped_notna[fips_check_scraped_notna["FIPS_z"].isnull()] # check to make sure no nulls in coords
fips_check_scraped_null #28093

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,NaN
1601,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
2874,6205747005,AL,"1980 hwy 315, SAGINAW, AL",34.212860,-89.696248,NaN
3234,5260357102,AL,"5015 Business Park BLVD, NEW MARKET, AL",61.174949,-149.888309,NaN
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

In [30]:
fips_check_scraped_null_il = fips_check_scraped_null.loc[fips_check_scraped_null["BorrowerState"]=="IL"]
fips_check_scraped_null_il

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
309462,4357417000,IL,"18960 County Hwy 5 W, EAST DUBUQUE, IL",42.508105,-90.565332,NaN
310110,6227707103,IL,"22069 US HIGHWAY 34, PRINCETON, IL",40.392967,-104.634462,NaN
310134,4428188509,IL,"22069 US Highway 34, Princeton, IL",40.392967,-104.634462,NaN
310220,3984847201,IL,"14 N 845 US-20, Hampshire, IL",44.370091,-108.038415,NaN
311283,2252087100,IL,"14 N 850 Route 20, HAMPSHIRE, IL",42.468637,-73.419886,NaN
311327,3313488304,IL,"43451 N US Highway 41, Zion, IL",35.242488,-85.690479,NaN
311689,6478417409,IL,"1501 W. MAIN ST PO Drawer E, FAIRFIELD, IL",38.033561,-78.497707,NaN
311761,6829277004,IL,"43451 US HIGHWAY 41, ZION, IL",47.046908,-88.518619,NaN
311943,6463967004,IL,"11600 Sterling Parkway, RICHMOND, IL",42.495414,-88.320057,NaN
311974,7639977104,IL,"7505 S Us Highway 66, GARDNER, IL",36.145096,-96.002364,NaN
312245,4791837000,IL,"11022 S. Route 20, MARENGO, IL",42.902196,-106.494403,NaN
312851,7249568405,IL,4508 W 46th St 6445 E Houghton Lake Dr Houghto...,44.369346,-84.692139,NaN
317355,4263327203,IL,"2000 US HIGHWAY 30, OSWEGO, IL",41.830975,-90.701615,NaN
318097,5924068305,IL,"43 W 752 Highway 30 Suite 2F, Sugar Grove, IL",42.063715,-94.857290,NaN
318634,1957667103,IL,"43 W 730 US Highway 30, SUGAR GROVE, IL",41.468463,-87.207119,NaN
319003,5482217101,IL,"215 Elmwood Ave, UNION, IL",40.698010,-74.280309,NaN
320170,1328317808,IL,"1200 West Linden Avenue, Logansport, IL",40.755215,-86.385976,NaN
320888,4808097109,IL,"1000 E. US Highway 34, PLANO, IL",41.026674,-94.014404,NaN
323150,9164158400,IL,"1000 E US Highway 34, Plano, IL",41.026674,-94.014404,NaN
325836,6090997009,IL,"1980 W US HWY 30, Suite 11, SUGAR GROVE, IL",39.858227,-77.298102,NaN
326176,9354057704,IL,"639 W MAIN ST, BATAVIA, IL",38.031585,-78.489502,NaN
335941,6400167101,IL,"16 Technology Drive Suite 111, Irvine, IL",33.650602,-117.736467,NaN
336198,1199707810,IL,"105 E JOILET ST, SCHEREVILLE, IL",41.492044,-87.448921,NaN
343764,2391268309,IL,"2850 US-34, OSWEGO, IL",40.997234,-91.815673,NaN
343937,3209857105,IL,"47619 W. US Route 30, BIG ROCK, IL",44.956449,-117.938204,NaN
345925,2408737701,IL,"7736 STATE ROUTE 34, YORKVILLE, IL",43.055693,-76.558131,NaN
346179,4389107300,IL,"301 S PARK ST, GIFFORD, IL",43.063867,-89.400267,NaN
347352,2174297707,IL,"4937 WILSHIRE BLVD, CNTRY CLB HLS, IL",34.062174,-118.338767,NaN
348555,5068958308,IL,"1410 US Highway 45 N, Eldorado, IL",45.526731,-89.161915,NaN
348888,9418607006,IL,"47 W 529 US Route 30, BIG ROCK, IL",40.451443,-80.251737,NaN

Manually Updated File Read-IN

In [38]:
data_xls = pd.read_excel('../../../data/null/il_fips_update.xlsx', dtype=str, index_col=None)
data_xls.to_csv('../../../data/null/il_fips_update.csv', encoding='utf-8', index=False)
il_update_df = pd.read_csv("../../../data/null/il_fips_update.csv")
il_update_df.index = il_update_df.index.astype('int64')
il_update_df

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,4357417000,IL,"18950 Rte 5 W, East Dubuque, IL",42.508094,-90.597843,NaN
1,6227707103,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,NaN
2,4428188509,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,NaN
3,3984847201,IL,"14N845 US-20, Hampshire, IL",42.080135,-88.449376,NaN
4,2252087100,IL,"14N850 US-20, Hampshire, IL",42.077661,-88.450393,NaN
5,3313488304,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,NaN
6,6478417409,IL,"1501 W Main St, Fairfield, IL",38.380251,-88.382691,NaN
7,6829277004,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,NaN
8,6463967004,IL,"11600 Sterling Pkwy, Richmond, IL",42.493819,-88.320251,NaN
9,7639977104,IL,"7505 Old Rte 66, Gardner, IL",41.177952,-88.322549,NaN
10,4791837000,IL,"11022 S Grant Hwy, Marengo, IL",42.168826,-88.528977,NaN
11,7249568405,IL,"6445 E Houghton Lake Dr, Houghton Lake, MI",44.369476,-84.692149,NaN
12,4263327203,IL,"2200 US-30, Oswego, IL",41.718701,-88.312606,NaN
13,5924068305,IL,"43W450 US-30, Sugar Grove, IL",41.768316,-88.462704,NaN
14,1957667103,IL,"43W730 US-30, Sugar Grove, IL",41.767950,-88.469259,NaN
15,5482217101,IL,"215 Elmwood Ave, South Beloit, IL",42.490421,-89.040961,NaN
16,1328317808,IL,"1200 W Linden Ave, Logansport, IN",40.755343,-86.385823,NaN
17,4808097109,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,NaN
18,9164158400,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,NaN
19,6090997009,IL,"1980 US-30 #13, Sugar Grove, IL",41.762919,-88.486619,NaN
20,9354057704,IL,"639 Main St, Batavia, IL",41.847237,-88.319216,NaN
21,6400167101,CA,"16 Technology Dr Unit 111, Irvine, CA",33.649848,-117.735370,NaN
22,1199707810,IL,"105 E Joliet St, Schererville, IN",41.492314,-87.448844,NaN
23,2391268309,IL,"2850 US-34, Oswego, IL",41.697327,-88.319309,NaN
24,3209857105,IL,"47W619 US-30, Big Rock, IL",41.763550,-88.540165,NaN
25,2408737701,IL,"7736 US-34, Yorkville, IL",41.670539,-88.403248,NaN
26,4389107300,IL,"301 S Park Ave, Gifford, IL",40.306440,-88.019187,NaN
27,2174297707,IL,"4937 Wilshire Blvd, Country Club Hills, IL",41.570019,-87.736978,NaN
28,5068958308,IL,"1410 US-45, Eldorado, IL",37.804246,-88.452633,NaN
29,9418607006,IL,"47W529 US-30, Big Rock, IL",41.763934,-88.538302,NaN

<h4>FIPS Script

In [39]:
lat = il_update_df["Lat"].astype(float).astype(str).to_list()
long = il_update_df["Long"].astype(float).astype(str).to_list()

In [40]:
#if FIPS_z file 
#lat = fips_check_scraped_null["Lat"].astype(float).astype(str).to_list()
#long = fips_check_scraped_null["Long"].astype(float).astype(str).to_list()

In [41]:
#before running script, check for any NaN within Lat, Long fields. 
def sleep():
    time.sleep(1)
option = webdriver.ChromeOptions()
option.binary_location = "/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
driver = Browser('chrome', options=option, headless=False)    
url = 'https://geocoding.geo.census.gov/geocoder/geographies/coordinates?form'
driver.visit(url)

not_found = []
geo_id = []

i=0
for i in tqdm(range(len(lat))):
    #while i < len(lat):
        driver.find_by_id('geoCoordX').clear()
        driver.find_by_id('geoCoordY').clear()
        driver.find_by_id('geoCoordX').fill(long[i])
        driver.find_by_id('geoCoordY').fill(lat[i])
        driver.find_by_id('geoCoordsSubmit').click()
        #sleep()
        #html = driver.html
        soup = BeautifulSoup(driver.html, 'html.parser')


        results = soup.find_all('div', id='geoCoordsJsonOutput')
        for result in results:
            result_text = result.text

            result_digits = re.findall('\d+', result_text)
            #startswith = [s for s in result_digits if s.startswith('51')] #VA
            fips_elements =[element for element in result_digits if len(element)==15]
            
            try:
                #print(f"{i},{lat[i]},{long[i]} is {fips_elements}")
                geo_id.append(fips_elements)
            except (KeyError, IndexError):
                #print(f"{i},{lat[i]},{long[i]} Not Found")
                not_found.append(i)
                geo_id.append(None)  
            except (TimeoutException):
                driver.navigate.refresh()
    
        #sleep()
        i=i+1

  0%|          | 0/30 [00:00<?, ?it/s]

coordinates wtih more than one return:
385,37.514070000000004,-77.35472 is ['514070000000004', '510872015041003'] 
1178,37.516454700000004,-77.8100575 is ['516454700000004', '511455001022014'] 
2660,37.519462299999994,-77.340384 is ['519462299999994', '510872014061012']
second option reference FIPS code, first option references LatCoord, update fields in DataFrame

https://iqss.github.io/dss-webscrape/filling-in-web-forms.html

Length Check

In [43]:
geo_id_list =geo_id 
print(len(geo_id_list))
print(geo_id_list)

30
[['550439612002038'], ['170119649001093'], ['170119649001093'], ['170898507102006'], ['170898507112014'], ['170978660002005'], ['171919552002005'], ['170978660002005'], ['171118701041004'], ['170630009002085'], ['171118715011024'], ['261439706002023'], ['170938901031004'], ['170898545041040'], ['170898545041040'], ['172010040041013'], ['180179513003007'], ['170938905013050'], ['170938905013050'], ['170898545091007'], ['170898527003029'], ['060590524102006'], ['180890427043017'], ['170938901071015'], ['170898524034064'], ['170938904021008'], ['170190104003020'], ['170318255051000'], ['171659551003028'], ['170898524034064']]

Matching FIPS to DataFrame

In [44]:
fips_fill = il_update_df

In [45]:
fips_fill["FIPS_z"] = geo_id_list
fips_fill

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,4357417000,IL,"18950 Rte 5 W, East Dubuque, IL",42.508094,-90.597843,[550439612002038]
1,6227707103,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,[170119649001093]
2,4428188509,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,[170119649001093]
3,3984847201,IL,"14N845 US-20, Hampshire, IL",42.080135,-88.449376,[170898507102006]
4,2252087100,IL,"14N850 US-20, Hampshire, IL",42.077661,-88.450393,[170898507112014]
5,3313488304,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,[170978660002005]
6,6478417409,IL,"1501 W Main St, Fairfield, IL",38.380251,-88.382691,[171919552002005]
7,6829277004,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,[170978660002005]
8,6463967004,IL,"11600 Sterling Pkwy, Richmond, IL",42.493819,-88.320251,[171118701041004]
9,7639977104,IL,"7505 Old Rte 66, Gardner, IL",41.177952,-88.322549,[170630009002085]
10,4791837000,IL,"11022 S Grant Hwy, Marengo, IL",42.168826,-88.528977,[171118715011024]
11,7249568405,IL,"6445 E Houghton Lake Dr, Houghton Lake, MI",44.369476,-84.692149,[261439706002023]
12,4263327203,IL,"2200 US-30, Oswego, IL",41.718701,-88.312606,[170938901031004]
13,5924068305,IL,"43W450 US-30, Sugar Grove, IL",41.768316,-88.462704,[170898545041040]
14,1957667103,IL,"43W730 US-30, Sugar Grove, IL",41.767950,-88.469259,[170898545041040]
15,5482217101,IL,"215 Elmwood Ave, South Beloit, IL",42.490421,-89.040961,[172010040041013]
16,1328317808,IL,"1200 W Linden Ave, Logansport, IN",40.755343,-86.385823,[180179513003007]
17,4808097109,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,[170938905013050]
18,9164158400,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,[170938905013050]
19,6090997009,IL,"1980 US-30 #13, Sugar Grove, IL",41.762919,-88.486619,[170898545091007]
20,9354057704,IL,"639 Main St, Batavia, IL",41.847237,-88.319216,[170898527003029]
21,6400167101,CA,"16 Technology Dr Unit 111, Irvine, CA",33.649848,-117.735370,[060590524102006]
22,1199707810,IL,"105 E Joliet St, Schererville, IN",41.492314,-87.448844,[180890427043017]
23,2391268309,IL,"2850 US-34, Oswego, IL",41.697327,-88.319309,[170938901071015]
24,3209857105,IL,"47W619 US-30, Big Rock, IL",41.763550,-88.540165,[170898524034064]
25,2408737701,IL,"7736 US-34, Yorkville, IL",41.670539,-88.403248,[170938904021008]
26,4389107300,IL,"301 S Park Ave, Gifford, IL",40.306440,-88.019187,[170190104003020]
27,2174297707,IL,"4937 Wilshire Blvd, Country Club Hills, IL",41.570019,-87.736978,[170318255051000]
28,5068958308,IL,"1410 US-45, Eldorado, IL",37.804246,-88.452633,[171659551003028]
29,9418607006,IL,"47W529 US-30, Big Rock, IL",41.763934,-88.538302,[170898524034064]

Remove brackets

In [46]:
fips_fill['FIPS_z'] = fips_fill['FIPS_z'].str[0]
fips_fill

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,4357417000,IL,"18950 Rte 5 W, East Dubuque, IL",42.508094,-90.597843,550439612002038
1,6227707103,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,170119649001093
2,4428188509,IL,"22069 US-34, Princeton, IL",41.406474,-89.430516,170119649001093
3,3984847201,IL,"14N845 US-20, Hampshire, IL",42.080135,-88.449376,170898507102006
4,2252087100,IL,"14N850 US-20, Hampshire, IL",42.077661,-88.450393,170898507112014
5,3313488304,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,170978660002005
6,6478417409,IL,"1501 W Main St, Fairfield, IL",38.380251,-88.382691,171919552002005
7,6829277004,IL,"43451 US Hwy 41, Zion, IL",42.494413,-87.951154,170978660002005
8,6463967004,IL,"11600 Sterling Pkwy, Richmond, IL",42.493819,-88.320251,171118701041004
9,7639977104,IL,"7505 Old Rte 66, Gardner, IL",41.177952,-88.322549,170630009002085
10,4791837000,IL,"11022 S Grant Hwy, Marengo, IL",42.168826,-88.528977,171118715011024
11,7249568405,IL,"6445 E Houghton Lake Dr, Houghton Lake, MI",44.369476,-84.692149,261439706002023
12,4263327203,IL,"2200 US-30, Oswego, IL",41.718701,-88.312606,170938901031004
13,5924068305,IL,"43W450 US-30, Sugar Grove, IL",41.768316,-88.462704,170898545041040
14,1957667103,IL,"43W730 US-30, Sugar Grove, IL",41.767950,-88.469259,170898545041040
15,5482217101,IL,"215 Elmwood Ave, South Beloit, IL",42.490421,-89.040961,172010040041013
16,1328317808,IL,"1200 W Linden Ave, Logansport, IN",40.755343,-86.385823,180179513003007
17,4808097109,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,170938905013050
18,9164158400,IL,"1000 US-34, Plano, IL",41.662149,-88.516908,170938905013050
19,6090997009,IL,"1980 US-30 #13, Sugar Grove, IL",41.762919,-88.486619,170898545091007
20,9354057704,IL,"639 Main St, Batavia, IL",41.847237,-88.319216,170898527003029
21,6400167101,CA,"16 Technology Dr Unit 111, Irvine, CA",33.649848,-117.735370,060590524102006
22,1199707810,IL,"105 E Joliet St, Schererville, IN",41.492314,-87.448844,180890427043017
23,2391268309,IL,"2850 US-34, Oswego, IL",41.697327,-88.319309,170938901071015
24,3209857105,IL,"47W619 US-30, Big Rock, IL",41.763550,-88.540165,170898524034064
25,2408737701,IL,"7736 US-34, Yorkville, IL",41.670539,-88.403248,170938904021008
26,4389107300,IL,"301 S Park Ave, Gifford, IL",40.306440,-88.019187,170190104003020
27,2174297707,IL,"4937 Wilshire Blvd, Country Club Hills, IL",41.570019,-87.736978,170318255051000
28,5068958308,IL,"1410 US-45, Eldorado, IL",37.804246,-88.452633,171659551003028
29,9418607006,IL,"47W529 US-30, Big Rock, IL",41.763934,-88.538302,170898524034064

State Adjustment

fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '05', 'BorrowerState'] = 'AR'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '08', 'BorrowerState'] = 'CO'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '09', 'BorrowerState'] = 'CT'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '11', 'BorrowerState'] = 'DC'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '12', 'BorrowerState'] = 'FL'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '20', 'BorrowerState'] = 'KS'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '22', 'BorrowerState'] = 'LA'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '24', 'BorrowerState'] = 'MD'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '35', 'BorrowerState'] = 'NM'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '36', 'BorrowerState'] = 'NY'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '37', 'BorrowerState'] = 'NC'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '40', 'BorrowerState'] = 'OK'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '47', 'BorrowerState'] = 'TN'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '48', 'BorrowerState'] = 'TX'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '50', 'BorrowerState'] = 'VT'
fips_fill.loc[fips_fill["FIPS_z"].str[:2] == '51', 'BorrowerState'] = 'VA'

Check

Manual Update

In [23]:
fips_fill = pd.read_csv("../../../data/state_data/geo/ppp_geo_fips23.csv", index_col=0)

fips_fill.loc[fips_fill["LoanNumber"]==5601547110, "full_add"]="1750 US-40, Vernal, UT"
fips_fill.loc[fips_fill["LoanNumber"]==5601547110, "Lat"]="40.412219"
fips_fill.loc[fips_fill["LoanNumber"]==5601547110, "Long"]="-109.494734"
fips_fill.loc[fips_fill["LoanNumber"]==5601547110, "FIPS_z"]="490479682012019"

data_xls = pd.read_excel('../../../data/null/tx_fips_update.xlsx', dtype=str, index_col=None)
data_xls.to_csv('../../../data/null/tx_fips_update.csv', encoding='utf-8', index=False)
tx_update_df = pd.read_csv("../../../data/null/tx_fips_update.csv").set_index(['index']).rename_axis(None)
tx_update_df.index = tx_update_df.index.astype('int64')
tx_update_df

Read in base data

In [47]:
#if from FIPS file
fips_check = pd.read_csv("../../../data/state_data/geo/ppp_geo_fips23.csv", index_col=0) 
fips_check.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13

In [18]:
fips_check.loc[fips_check["LoanNumber"]==6790008405]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
938437,6790008405,WA,"515 KUWILI ST UNIT E, HONOLULU, WA",21.317822,-157.868017,NaN

Update

In [48]:
fips_check.loc[fips_check.LoanNumber.isin(fips_fill.LoanNumber), ['BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z']] = fips_fill[['BorrowerState', 'full_add', 'Lat', 'Long', 'FIPS_z']].values
fips_check

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,20200019003022.0
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,21850001001069.0
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,20200023011009.0
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,20200025012000.0
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,21220010002001.0
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

Verify

In [50]:
fips_check.loc[fips_check["LoanNumber"]==5924068305]

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
318097,5924068305,IL,"43W450 US-30, Sugar Grove, IL",41.768316,-88.462704,170898545041040

Write to MainFrame

In [51]:
fips_check.to_csv("../../../data/state_data/geo/ppp_geo_fips23.csv")

Run through fipssplit after write to update state Files