In [17]:
import pandas as pd
import numpy as np

In [18]:
ppp_geo_23= pd.read_csv("../../data/state_data/geo/ppp_geo_fips23.csv", index_col=0)
ppp_geo_23.head()

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
0,5502308207,AK,"5015 BUSINESS PARK BLVD, ANCHORAGE, AK",61.174949,-149.888309,2.020002e+13
1,6110847106,AK,"7000 Uula St, BARROW, AK",71.297290,-156.728897,2.185000e+13
2,4539098204,AK,"4700 Old International Airport Rd, Anchorage, AK",61.173232,-149.972718,2.020002e+13
3,5120868804,AK,"540 W Intl Airport Rd, Anchorage, AK",61.173164,-149.893283,2.020003e+13
4,6650277102,AK,"4300 BARTLETT STREET, HOMER, AK",59.652704,-151.549793,2.122001e+13

In [19]:
print(ppp_geo_23.isnull().sum())

LoanNumber         0
BorrowerState      0
full_add           0
Lat                0
Long               0
FIPS_z           662
dtype: int64

In [20]:
ppp_geo_23.loc[ppp_geo_23["Long"].isnull()]

Empty DataFrame
Columns: [LoanNumber, BorrowerState, full_add, Lat, Long, FIPS_z]
Index: []

In [21]:
ppp_geo_23_fipsnull = ppp_geo_23.loc[ppp_geo_23["FIPS_z"].isnull()]
ppp_geo_23_fipsnull

,LoanNumber,BorrowerState,full_add,Lat,Long,FIPS_z
392,2725348408,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
1095,4188937110,AK,"525 SECOND STREET, SKAGWAY, AK",40.670782,-73.976908,NaN
1601,9864858410,AK,"525 Second Street, Skagway, AK",40.670782,-73.976908,NaN
2874,6205747005,AL,"1980 hwy 315, SAGINAW, AL",34.212860,-89.696248,NaN
3234,5260357102,AL,"5015 Business Park BLVD, NEW MARKET, AL",61.174949,-149.888309,NaN
...,...,...,...,...,...,...
965547,9725917702,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965548,9666867710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965549,9662697710,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965550,9724667708,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN
965551,9672967701,Not Available,"17 S High St., COLUMBUS, OH",39.961717,-83.001011,NaN

In [22]:
ppp_geo_23_fipsnull["BorrowerState"].value_counts()

BorrowerState
NY               61
LA               57
IN               36
MO               35
MN               33
PA               33
KS               31
TN               24
IA               24
NJ               24
OK               22
AL               22
MI               21
MS               19
NE               18
PR               17
NC               16
KY               16
FL               13
CA               13
ND               10
GA               10
OH               10
MT               10
NV                9
OR                8
Not Available     8
MA                8
DC                7
CO                6
AZ                6
NM                5
ME                4
SC                4
AR                4
NH                3
ID                3
DE                3
CT                3
AK                3
SD                2
GU                1
Name: count, dtype: int64

In [23]:
ak_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "AK", :]
al_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "AL", :]
ar_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "AR", :]
as_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "AS", :] #American Samoa
az_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "AZ", :]

ca_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "CA", :]
co_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "CO", :]
ct_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "CT", :]
dc_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "DC", :] #D.C.
de_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "DE", :]

fl_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "FL", :]
ga_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "GA", :]
gu_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "GU", :] #Guam
hi_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "HI", :]
ia_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "IA", :]

id_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "ID", :]
il_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "IL", :]
in_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "IN", :]
ks_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "KS", :]
ky_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "KY", :]

la_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "LA", :]
ma_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MA", :]
md_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MD", :]
me_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "ME", :]
mi_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MI", :]

mn_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MN", :]
mo_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MO", :]
mp_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MP", :] #Saipan Member of Parliament
ms_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MS", :]
mt_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "MT", :]

nc_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NC", :]
nd_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "ND", :]
ne_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NE", :]
nh_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NH", :]
nj_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NJ", :]

nm_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NM", :]
nv_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NV", :]
ny_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "NY", :]
oh_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "OH", :]
ok_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "OK", :]

or_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "OR", :]
pa_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "PA", :]
pr_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "PR", :] #Puerto Rico
ri_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "RI", :]
sc_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "SC", :]

sd_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "SD", :]
tn_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "TN", :]
tx_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "TX", :]
ut_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "UT", :]
va_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "VA", :] #Virgin Islands

vi_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "VI", :]
vt_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "VT", :]
wa_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "WA", :]
wi_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "WI", :]
wv_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "WV", :]

wy_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "WY", :]

na_df = ppp_geo_23.loc[ppp_geo_23["BorrowerState"] == "Not Available", :]

2023 STATE FIPS Files

In [24]:
ak_df.to_csv("../../data/state_data/geo/geo_fips/23/AK_fips_scraped.csv")  
al_df.to_csv("../../data/state_data/geo/geo_fips/23/AL_fips_scraped.csv") 
ar_df.to_csv("../../data/state_data/geo/geo_fips/23/AR_fips_scraped.csv") 
as_df.to_csv("../../data/state_data/geo/geo_fips/23/AS_fips_scraped.csv") 
az_df.to_csv("../../data/state_data/geo/geo_fips/23/AZ_fips_scraped.csv") 

ca_df.to_csv("../../data/state_data/geo/geo_fips/23/CA_fips_scraped.csv") 
co_df.to_csv("../../data/state_data/geo/geo_fips/23/CO_fips_scraped.csv") 
ct_df.to_csv("../../data/state_data/geo/geo_fips/23/CT_fips_scraped.csv") 
dc_df.to_csv("../../data/state_data/geo/geo_fips/23/DC_fips_scraped.csv") 
de_df.to_csv("../../data/state_data/geo/geo_fips/23/DE_fips_scraped.csv") 

fl_df.to_csv("../../data/state_data/geo/geo_fips/23/FL_fips_scraped.csv") 
ga_df.to_csv("../../data/state_data/geo/geo_fips/23/GA_fips_scraped.csv") 
gu_df.to_csv("../../data/state_data/geo/geo_fips/23/GU_fips_scraped.csv") 
hi_df.to_csv("../../data/state_data/geo/geo_fips/23/HI_fips_scraped.csv") 
ia_df.to_csv("../../data/state_data/geo/geo_fips/23/IA_fips_scraped.csv") 

id_df.to_csv("../../data/state_data/geo/geo_fips/23/ID_fips_scraped.csv") 
il_df.to_csv("../../data/state_data/geo/geo_fips/23/IL_fips_scraped.csv") 
in_df.to_csv("../../data/state_data/geo/geo_fips/23/IN_fips_scraped.csv") 
ks_df.to_csv("../../data/state_data/geo/geo_fips/23/KS_fips_scraped.csv")
ky_df.to_csv("../../data/state_data/geo/geo_fips/23/KY_fips_scraped.csv") 

la_df.to_csv("../../data/state_data/geo/geo_fips/23/LA_fips_scraped.csv")
ma_df.to_csv("../../data/state_data/geo/geo_fips/23/MA_fips_scraped.csv") 
md_df.to_csv("../../data/state_data/geo/geo_fips/23/MD_fips_scraped.csv") 
me_df.to_csv("../../data/state_data/geo/geo_fips/23/ME_fips_scraped.csv") 
mi_df.to_csv("../../data/state_data/geo/geo_fips/23/MI_fips_scraped.csv")

mn_df.to_csv("../../data/state_data/geo/geo_fips/23/MN_fips_scraped.csv")
mo_df.to_csv("../../data/state_data/geo/geo_fips/23/MO_fips_scraped.csv")
mp_df.to_csv("../../data/state_data/geo/geo_fips/23/MP_fips_scraped.csv")
ms_df.to_csv("../../data/state_data/geo/geo_fips/23/MS_fips_scraped.csv")
mt_df.to_csv("../../data/state_data/geo/geo_fips/23/MT_fips_scraped.csv")

nc_df.to_csv("../../data/state_data/geo/geo_fips/23/NC_fips_scraped.csv") 
nd_df.to_csv("../../data/state_data/geo/geo_fips/23/ND_fips_scraped.csv")
ne_df.to_csv("../../data/state_data/geo/geo_fips/23/NE_fips_scraped.csv")
nh_df.to_csv("../../data/state_data/geo/geo_fips/23/NH_fips_scraped.csv") 
nj_df.to_csv("../../data/state_data/geo/geo_fips/23/NJ_fips_scraped.csv") 

nm_df.to_csv("../../data/state_data/geo/geo_fips/23/NM_fips_scraped.csv") 
nv_df.to_csv("../../data/state_data/geo/geo_fips/23/NV_fips_scraped.csv") 
ny_df.to_csv("../../data/state_data/geo/geo_fips/23/NY_fips_scraped.csv") 
oh_df.to_csv("../../data/state_data/geo/geo_fips/23/OH_fips_scraped.csv") 
ok_df.to_csv("../../data/state_data/geo/geo_fips/23/OK_fips_scraped.csv") 

or_df.to_csv("../../data/state_data/geo/geo_fips/23/OR_fips_scraped.csv") 
pa_df.to_csv("../../data/state_data/geo/geo_fips/23/PA_fips_scraped.csv") 
pr_df.to_csv("../../data/state_data/geo/geo_fips/23/PR_fips_scraped.csv") 
ri_df.to_csv("../../data/state_data/geo/geo_fips/23/RI_fips_scraped.csv") 
sc_df.to_csv("../../data/state_data/geo/geo_fips/23/SC_fips_scraped.csv") 

sd_df.to_csv("../../data/state_data/geo/geo_fips/23/SD_fips_scraped.csv") 
tn_df.to_csv("../../data/state_data/geo/geo_fips/23/TN_fips_scraped.csv")  
tx_df.to_csv("../../data/state_data/geo/geo_fips/23/TX_fips_scraped.csv")
ut_df.to_csv("../../data/state_data/geo/geo_fips/23/UT_fips_scraped.csv") 
va_df.to_csv("../../data/state_data/geo/geo_fips/23/VA_fips_scraped.csv")

vi_df.to_csv("../../data/state_data/geo/geo_fips/23/VI_fips_scraped.csv")
vt_df.to_csv("../../data/state_data/geo/geo_fips/23/VT_fips_scraped.csv")
wa_df.to_csv("../../data/state_data/geo/geo_fips/23/WA_fips_scraped.csv")
wi_df.to_csv("../../data/state_data/geo/geo_fips/23/WI_fips_scraped.csv")
wv_df.to_csv("../../data/state_data/geo/geo_fips/23/WV_fips_scraped.csv")

wy_df.to_csv("../../data/state_data/geo/geo_fips/23/WY_fips_scraped.csv")

na_df.to_csv("../../data/state_data/geo/geo_fips/23/NA_fips_scraped.csv")